/* new global */
.btn-black {
    background-color: var(--color_space);
    color: var(--color_white);
    border-radius: 5px;
    padding: 10.5px 20px;
    line-height: normal;
}

.f15w600 {
    font-size: 15px;
    font-weight: 600;
}

.f35w700 {
    font-size: 35px;
    font-weight: 700;
    color: var(--color_space);
}

/*custom styles*/
.service__btn-back {
    margin-bottom: 51px;
}