p, span {
    color: var(--color_space);
}

.nav__back {
    color: var(--color_white);
    padding: 16.5px 64px 16.5px 33px;
    background-image: url("../img/arrow-back.svg");
    background-position: left center;
    background-size: auto;
    margin-bottom: 25px;
    display: inline-block;
}

.nav__wrapper {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.nav__cans {
    margin-bottom: auto;
}

.nav__can {
    list-style: none;
}

.nav__can-item,
.nav__can-title {
    padding: 15px 10px 15px 25px;
    display: inline-block;
}

.nav__can-item {
    border-radius: 5px;
    width: 100%;
}

.nav__can-title {
    color: var(--color_bali);
}

.nav__can:not(:last-child) {
    margin-bottom: 5px;
}

.nav__can:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.nav__can-name {
    color: var(--color_white);
}

.nav__can-capt {
    color: var(--color_bali);
}

.active-page,
.nav__can-item:focus,
.nav__can-item:hover,
.nav__can-item:active {
    outline: none;
    background-color: #FFFFFF1A;
    opacity: 1;
}

.more__scroll-choose {
    /*width: 100%;*/
    /*background-color: var(--color_white);*/
    /*height: 50px;*/
    margin-bottom: 25px;
}

.more__cans-scroll {
    width: 337px; /* 30.09% */
    height: 80.958vh;
    background-color: var(--color_white);
    border-radius: 10px;
}

.more__content {
    display: flex;
    justify-content: space-between;
}

.more__cans-info {
    width: calc(100% - 352px);
    height: 80.958vh;
    background-color: var(--color_white);
    border-radius: 10px;
}

.more-search__form {
    position: relative;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color_gray);
}

.more-search__form-space {
    border: none;
    outline: none;
    padding: 11.5px 0 11.5px 15px;
    width: 96.5%;
    color: var(--color_space);
    background-color: var(--color_athens-gray);
    border-radius: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.more-search__form-space:focus,
.more-search__form-space:active {
    background-color: var(--color_zircon);
    outline: 1px solid var(--color_dodger);
}

.more-search__form-space::placeholder {
    color: var(--color_bali);
}

.more__item {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid var(--color_gray);
}

.more__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color_dodger);
    opacity: 0;
}

.more__item:hover.more__item::before {
    opacity: 1;
}

.more__items-list {
    height: calc(100% - 71px);
}

.more__user-link {
    display: flex;
    align-items: center;
}

.more__quick-title {
    margin-bottom: 5px;
}

.more__quick-desc > span {
    display: block;
    color: var(--color_bali);
}

.more__user-link__img {
    margin-right: 15px;
}

.more__quick-age {
    margin-bottom: 5px;
}

.simplebar-scrollbar::before {
    background: transparent;
}

/*right content page*/
.more__header-right {
    width: 289px;
    height: 40px;
    display: flex;
}

.more__btn-invite {
    margin-right: 15px;
}

.more__droplist {
    width: 93px;
    height: 40px;
    background-color: var(--color_athens-gray);
    border-radius: 5px;
    margin-right: 15px;
}

.more__burger {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    background-color: var(--color_athens-gray);
    border-radius: 5px;
}

.more__burger-dot {
    position: absolute;
    top: 42%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color_bali);
    transition: background-color .3s ease;
}

.more__burger-dot:first-child {
    left: 12px;
}

.more__burger-dot:nth-child(2) {
    left: 22px;
}

.more__burger-dot:last-child {
    left: 32px;
}

.more__cans-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid var(--color_gray);
}

.more__main-content {
    height: calc(100% - 71px);
}

.more__tag {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_dodger);
}

.more__tags__add {
    background-image: url("../img/plus__add-tags.svg");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
    color: var(--color_bali);
}

.more__quick-info {
    display: flex;
    padding: 25px 25px 0 25px;
}

.more__user-pic {
    margin-right: 35px;
    border-radius: 10px;
}

.more__phone-chat {
    background-image: url("../img/more__user-number.svg");
    width: 10px;
    height: 10px;
    background-size: auto;
    margin-left: 10px;
    background-position: center;
    padding-left: 10px;
    padding-right: 10px;
}

.more__tags {
    display: flex;
}

.more__user-desc {
    max-width: 309px;
    justify-content: space-between;
}

.more__user-mail {
    width: 50%;
}

.more__response-source {
    background-image: url("../img/user__hh-icon.svg");
    background-position: left center;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.more__full-info {
    padding-left: 25px;
    padding-right: 25px;
}

.more__skills-tag {
    padding: 6.5px 15px;
    background-color: var(--color_athens-gray);
    display: inline-block;
}

.more__skills-item {
    white-space: nowrap;
}

.more__skills-tag:last-child {
    margin-bottom: 0;
}

.more__full-item:last-child {
    margin-bottom: 0;
    padding-bottom: 35px;
}

/*scroll-x*/
/*styled horizontal scroll bar*/
.scroll-x {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px;
    background-color: var(--color_white);
    border-radius: 10px;
}

.scroll-x__wrapper {
    overflow-x: auto;
    display: flex;
    width: 91.5%;
}

.btn-scroll {
    outline: none;
    padding: 11.5px 15px;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: var(--color_bali);
    background: var(--color_athens-gray);
}

.btn-data {
    color: var(--color_bali);
}

.btn-scroll--active {
    background-color: var(--color_zircon);
    color: var(--color_dodger);
}

.btn-scroll--active .btn-data {
    color: var(--color_dodger);
}

.scroll-x__btn {
    margin-left: 5px;
    user-select: none;
}

.scroll-x__btn:first-child {
    margin-left: 0;
}

.scroll-x__wrapper::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.btn-settings {
    width: 50px;
    height: 50px;
    background-color: var(--color_white);
    background-image: url("../img/scroll-settings.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    border-left: 1px solid var(--color_gray);
    border-right: 1px solid var(--color_gray);
    right: 50px;
    position: absolute;
    top: 0;
}

.btn-right {
    width: 50px;
    height: 50px;
    background-color: var(--color_white);
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 10px 10px 0;
}