@media (max-width: 1439px) {
    /*new page*/
    /*start-page*/
    /*nav-bar*/
    .nav__container {
        max-width: 240px;
        padding: 0 13.3px;
    }

    .nav__logo-icon {
        width: 133px;
        transform: translate(40px, 23px);
    }

    .nav__links {
        min-width: 213.33px;
    }

    .nav__links-caption {
        font-size: 12px;
        font-weight: 400;
        padding-left: 22px;
        margin-bottom: 5px;
    }

    .nav__link:not(:last-of-type) {
        margin-bottom: 4px;
    }

    .nav__links:nth-child(2) {
        margin-bottom: 20px;
    }

    .nav__link-item {
        font-size: 14px;
        padding: 13px 0 14px 53px;
    }

    .link-desktop::before {
        content: url("../img/media/icon-desktop-1024.svg");
        top: 11.5px;
        left: 22px;
    }

    .link-vacancies::before {
        content: url("../img/media/icon-vacancies-1024.svg");
        top: 12px;
        left: 22px;
    }

    .link-candidates::before {
        content: url("../img/media/icon-canditates-1024.svg");
        top: 13px;
        left: 22px;
    }

    .link-messages::before {
        content: url("../img/media/icon-messages-1024.svg");
        top: 12px;
        left: 22px;
    }

    .link-companies::before {
        content: url("../img/media/icon-companies-1024.svg");
        top: 12px;
        left: 22px;
    }

    .link-documents::before {
        content: url("../img/media/icon-documents-1024.svg");
        top: 14px;
        left: 22px;
    }

    .link-rates::before {
        content: url("../img/media/icon-rates-1024.svg");
        top: 14px;
        left: 22px;
    }

    .link-support::before {
        content: url("../img/media/icon-support-1024.svg");
        top: 12px;
        left: 22px;
    }

    .link-settings::before {
        content: url("../img/media/icon-settings-1024.svg");
        top: 13px;
        left: 22px;
    }

    /*    search-bar*/
    .search-bar__container {
        padding: 0 21px 0 240px;
    }

    .search-bar__form {
        padding-left: 22px;
    }

    .search-bar__form-space {
        width: 95.1%;
        padding: 10px 0;
        padding-left: 36px;
        border-radius: 5px;
        font-size: 12.44px;
    }

    .search-bar__form::before {
        background-image: url("../img/media/search-icon-1024.svg");
        left: 35px;
    }

    .search-bar__btn {
        width: 35.56px;
        height: 35.56px;
    }

    .search-bar__btn-wrap {
        min-height: 62.22px;
        width: 81px;
    }

    .search-bar__btn-wrap:nth-child(2)::before {
        width: 24.89px;
        height: 22.22px;
        top: 31.3px;
        left: 9px;
    }

    /*    main-content*/
    .container {
        padding: 85px 23px 23px 262px;
    }

    .begin__container {
        padding: 43px 25px;
        min-height: 339px;
    }

    .begin__container::before {
        content: url("../img/media/add-vacancies-1024.svg");
    }

    .begin__title {
        font-size: 22.22px;
        padding-top: 94px;
        margin-bottom: 9px;
    }

    .begin__descr {
        font-size: 13.33px;
        line-height: normal;
        max-width: 72%;
        margin-bottom: 23px;
    }

    /*.btn {*/
    /*    font-size: 13.33px;*/
    /*    padding: 9px 18px;*/
    /*    min-height: 35px;*/
    /*}*/
}

/*медиа-запрос для галочки выпадающего списка*/
/*утрачен в результате замены ф-ла*/
/*@media (max-width: 639px) {*/
/*    #choices--gender-item-choice-1::after, #choices--gender-item-choice-2::after,*/
/*    #choices--age-item-choice-4::after,*/
/*    #choices--wage-item-choice-4::after,*/
/*    .new__options-group > .choices:nth-child(4) .is-highlighted#choices--skill-item-choice-1::after, .is-highlighted#choices--skill-item-choice-2::after, .is-highlighted#choices--skill-item-choice-3::after,*/
/*    .new__options-group > .choices:nth-child(5) .is-highlighted#choices--nation-item-choice-1::after,*/
/*    .is-highlighted#choices--nation-item-choice-2::after,*/
/*    .is-highlighted#choices--nation-item-choice-3::after,*/
/*    .is-highlighted#choices--nation-item-choice-4::after,*/
/*    .is-highlighted#choices--contacts-item-choice-2::after,*/
/*    .is-highlighted#choices--choose-level-item-choice-2::after,*/
/*    #choices--specific-vacancy-options-item-choice-1::after,*/
/*    #choices--specific-vacancy-options-item-choice-2::after,*/
/*    #choices--specific-vacancy-options-item-choice-3::after,*/
/*    #choices--specific-vacancy-options-item-choice-4::after {*/
/*        top: 10px;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
/*    searchbar*/
    .search-bar__container {
        background-color: var(--color_space);
        padding: 0 13px;
    }

    .search-bar__form {
        display: none;
    }

    .search-bar__btn-wrap {
        border-left: none;
    }

    .search-bar__btn-wrap:nth-child(4) {
        border-right: none;
    }

    .search-bar__btn-wrap:nth-child(5) {
        margin-right: 13px;
    }

    .search-bar__note {
        transform: translate(2px, 2px);
    }

    .search-bar__support {
        transform: translate(1px, 1px);
    }

    .search-bar__acc {
        transform: translate(2px, 2px);
    }

    .nav__logo-icon {
        width: 110.6px;
        transform: translate(0, 2px);
    }

    .search-bar__logo {
        display: inline-block;
        margin-right: auto;
    }

    .search-bar__btn {
        background-color: transparent;
    }

    .search-bar__btn-wrap {
        width: 40px;
        padding: 0;
        min-height: 60px;
    }

    /*search-bar burger-menu*/
    .search-bar__burger {
        flex-shrink: 0;
        padding: 16px 8.5px;
        cursor: pointer;
        transition: opacity .3s ease;
    }

    .toogle_bar {
        top: 5px;
        left: 0;
        position: relative;
        display: inline-block;
        width: 23px;
        height: 23px;
    }

    .toogle__line {
        position: absolute;
        width: 100%;
        height: 1.8px;
        background-color: var(--color_white);
    }

    .toogle__line:nth-child(2) {
        top: 7px;
    }

    .toogle__line:last-child {
        top: 14px;
    }

    /*    sidebar*/
    .nav__logo {
        display: none;
    }

    .nav__container {
        max-width: 100%;
        width: 100%;
        transform: translateY(60.22px);
        background-color: var(--color_white);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .nav__container--active {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .search-bar__burger--active {
        opacity: .4;
    }

    .nav__links-caption {
        color: var(--color_semi-space);
    }

    .nav__link-item {
        color: var(--color_space);
        opacity: 1;
        font-size: 16px;
        font-weight: 500;
    }

    .nav__links {
        max-width: 240px;
    }

    .link-desktop::before {
        content: url("../img/media/icon-desktop-768.svg");
    }

    .link-vacancies::before {
        content: url("../img/media/icon-vacancies-768.svg");
    }

    .link-candidates::before {
        content: url("../img/media/icon-candidates-768.svg");
    }

    .link-messages::before {
        content: url("../img/media/icon-messages-768.svg");
    }

    .link-companies::before {
        content: url("../img/media/icon-companies-768.svg");
    }

    .link-documents::before {
        content: url("../img/media/icon-documents-768.svg");
    }

    .link-rates::before {
        content: url("../img/media/icon-rates-768.svg");
    }

    .link-support::before {
        content: url("../img/media/icon-support-768.svg");
    }

    .link-settings::before {
        content: url("../img/media/icon-settings-768.svg");
    }

/*    main content*/
    .container {
        padding: 77px 13px 0 13px;
    }

    .profile {
        padding: 77px 13px 50px 13px;
    }

    #note-btn::before {
        top: 15px;
        left: -12px;
    }

/*    nots drop-bar*/
    .nots__container {
        max-width: 100%;
        width: 100%;
        right: 0;
        transform: translateY(-20px);
        background-color: var(--color_white);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease, visibility .3s ease;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 0 13px;
        height: 100%;
        overflow: auto;
        padding: 0;
    }

    .nots__cans-list {
        padding: 25px 0;
        gap: 12px;
        padding-bottom: 100px;
        flex-grow: 1; /* Сделать список гибким, чтобы он занимал оставшееся пространство */
    }

    .nots__cans-item {
        padding-bottom: 10px;
    }

    .nots__container--active {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .nots__container::before {
        display: none;
    }

    .nots__cans-item {
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
    }

    .nots__time-now,
    .nots__time-recent,
    .nots__time-hours,
    .nots__time-days {
        right: 14px;
    }

    .not__user-info {
        overflow: hidden;
        white-space: nowrap;
    }

    .nots__user-desc {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nots__user-info {
        max-width: calc(100% - 80px);
    }

    .nots__check {
        font-size: 15px;
        font-weight: 400;
        color: var(--color_white);
        background-color: var(--color_dodger);
        padding: 11px;
        position: sticky; /* Использование sticky позиционирования */
        bottom: env(safe-area-inset-bottom, 20px);
        height: 40px;
        z-index: 100; /* Убедиться, что кнопка выше остальных элементов */
        transform: translate(0px, -60px);
        margin-left: -13px;
        width: initial;
    }

    .nots__title {
        display: none;
    }

/*    man*/
    .supp__container {
        top: 60px;
        max-width: 100%;
        right: 0;
        height: 100vh;
    }

    .supp__title {
        text-align: center;
        margin-bottom: 22px;
    }

    .supp__man-status::before,
    .supp__man-status__notwork::before,
    .supp__man-status__onwork::before {
        width: 313px;
        left: calc((100% - 313px) / 2);
    }

    .supp__man-status__notwork::after,
    .supp__man-status__onwork::after {
        left: calc((100% / 2) - 100px);
    }

    .supp__main-time {
        width: fit-content;
        margin: 0 auto;
        padding-right: 65px;
        margin-bottom: 16px;
    }

    .supp__man-status {
        margin-bottom: 35px;
    }

    .supp__main-mail {
        width: fit-content;
        margin: 0 auto;
        padding-right: 83px;
        margin-bottom: 15px;
    }

    .supp__main-phone {
        width: fit-content;
        margin: 0 auto;
        padding-right: 35px;
    }

    .supp__main-info {
        padding-bottom: 24px;
    }

    .supp__user-num {
        padding-top: 25px;
        text-align: center;
    }

    .supp__num-text {
        display: inline-block;
        width: 80%;
        line-height: 18px;
    }

    .acc__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 60px;
        max-width: 100%;
        right: 0;
        height: 100vh;
        padding-left: 13px;
        padding-right: 13px;
    }

    .acc__header {
        text-align: center;
        padding-bottom: 11px;
        width: 100%;
    }

    .acc__active {
        text-align: center;
        padding-top: 11px;
        border-bottom: none;
    }

    .acc__active {
        margin-bottom: 85%;
    }
}