/*header tabs*/
.profile__tab {
    padding: 11.39px 20.7px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_space);
    background: var(--color_white);
}

.profile__tab:first-of-type {
    border-radius: 5px 0 0 5px;
}

.profile__tab:last-of-type {
    border-radius: 0 5px 5px 0;
}

.profile__tabs-wrapper {
    font-size: 0;
    margin-bottom: 49px;
}

.profile__tab--active {
    font-weight: 600;
    color: var(--color_white);
    background-color: var(--color_space);
}

/*main box*/
.main__info {
    padding: 25px;
    background-color: var(--color_white);
    border-radius: 10px;
    padding-top: 21px;
    margin-bottom: 14px;
}

.main__info-title {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_bali);
    margin-bottom: 48px;
}

.main__info-title::after {
    content: '';
    position: absolute;
    width: calc(100% + 50px);
    height: 1px;
    background-color: var(--color_gray);
    bottom: -23px;
    left: -25px;
}

.main__info-content {
    display: flex;
    margin-bottom: 40px;
}

.main__info-img {
    margin-right: 25px;
}

.main__info-descr {
    padding-top: 10px;
}

.main__info-name {
    margin-bottom: 3px;
}

.main__info-position {
    margin-bottom: 15px;
}

.main__user-phone {
    margin-right: 26px;
}

.main__phone-value {
    font-size: 15px;
}

.main__info-contacts {
    display: flex;
}

.main__mail-value {
    font-size: 15px;
}

/*main pass*/
.main__pass {
    padding: 25px;
    background-color: var(--color_white);
    border-radius: 10px;
    padding-top: 21px;
}

.main__pass-title {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_bali);
    margin-bottom: 48px;
}

.main__pass-title::after {
    content: '';
    position: absolute;
    width: calc(100% + 50px);
    height: 1px;
    background-color: var(--color_gray);
    bottom: -23px;
    left: -25px;
}

.main__current-label {
    display: block;
    color: var(--color_space);
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
}

.main__current-input {
    display: block;
    font-size: 14px;
    width: 100%;
    border: none;
    padding: 11px 15px;
    border-radius: 5px;
    background-color: var(--color_athens-gray);
    margin-bottom: 25px;
}

.main__pass-wrapper {
    display: flex;
}