:root {
  --color_border: #edeff5;
}

/* Адаптивность */
@media (max-width: 768px) {
  .search-page__cards-description {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.search-page__title-wrapper {
  text-align: center;
  margin-bottom: 51px;
}

.search-page__card:first-of-type {
  background-image: url("../img/search-page-card-first.svg");
}

.search-page__card:nth-of-type(2n) {
  background-image: url("../img/search-page-card-second.svg");
}

.search-page__card:last-of-type {
  background-image: url("../img/search-page-card-third.svg");
}

.search-page__cards-description {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 15px;
}

.search-page__card {
  padding: 175px 50px 50px 50px;
  background-color: var(--color_white);
  border-radius: 25px;
  background-position: center 50px;
  text-align: center;
}

/* Добавляем класс hidden для скрытия элементов */
.hidden {
  display: none;
}

/* Основной контейнер фильтров */
.search-page__filters {
  position: relative; /* Относительно .search-page__filter */
  max-height: 400px;
  z-index: 10;
  flex-wrap: wrap;
}

/* Заголовок фильтров */
.search-page__filter-title {
  width: 100%;
  margin-bottom: 15px;
}

/* Обертка групп фильтров */
.search-page__filters-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Группа фильтров */
.search-page__filter-group,
.search-page__filter-other {
  position: relative;
  border-radius: 5px;
  height: fit-content;
  user-select: none;
}

.search-page__filter {
  background-color: var(--color_white);
  padding: 25px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.search-page__filter-input {
  display: flex;
  column-gap: 10px;
  margin-bottom: 16px;
}

.search-page__input {
  width: 100%;
  padding: 12px 0;
  line-height: normal;
  padding-left: 42px;
  border: 1px solid var(--color_background);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color_athens-gray);
  color: var(--color_space);
  background-image: url("../img/search-icon.svg");
  background-position: 15px center;
}

/* Заголовок группы */
.search-page__filter-header,
.search-page__other-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 11px 15px;
  background-color: var(--color_athens-gray);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-page__filter-group.open > .search-page__filter-header,
.search-page__filter-other.open > .search-page__other-header {
  background-color: var(--color_athens-gray);
}

.search-page__filter-header span:first-child {
  font-size: 14px;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.search-page__filter-group.default
  .search-page__filter-header
  span:first-child {
  color: var(--color_bali);
  user-select: none;
}

.search-page__filter-other .search-page__other-header span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.search-page__filter-other.default
  .search-page__other-header
  span:nth-child(2) {
  color: var(--color_bali);
}

.search-page__other-header {
  padding: 7px 15px;
  column-gap: 10px;
}

.search-page__other-pic {
  display: flex;
}

.search-page__filter-other
  .search-page__other-header
  .search-page__other-pic
  svg
  path {
  transition: fill 0.3s ease;
}

.search-page__filter-other.default
  .search-page__other-header
  .search-page__other-pic
  svg
  path {
  fill: var(--color_bali);
}

.toggle-arrow path {
  transition: fill 0.3s ease;
}

.search-page__filter-group.open .search-page__filter-toggle .toggle-arrow path,
.search-page__filter-other.open .search-page__filter-toggle .toggle-arrow path {
  fill: var(--color_space);
}

.search-page__filter-other.selected .search-page__other-header {
  background-color: var(--color_zircon);
}

.search-page__filter-other.selected .search-page__other-header svg path {
  fill: var(--color_dodger);
}

.search-page__filter-other.selected
  .search-page__other-header
  span:nth-child(2) {
  color: var(--color_dodger);
}

.search-page__filter-options li:not(:last-of-type) {
  border-bottom: 1px solid var(--color_gray);
}

.search-page__filter-group.selected
  .search-page__filter-header
  span:first-child,
.search-page__filter-other.selected
  .search-page__other-header
  span:first-child {
  color: var(--color_dodger);
}

/* Тоггл (стрелка/крестик) */
.search-page__filter-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-page__filter-group.selected .search-page__filter-toggle,
.search-page__filter-other.selected .search-page__filter-toggle {
  transition: none;
}

.search-page__filter-group.open:not(.selected) .search-page__filter-toggle,
.search-page__filter-other.open:not(.selected) .search-page__filter-toggle {
  transform: rotate(180deg);
}

/* Опции фильтров */
.search-page__filter-options {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: max-content;
  min-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Стилизация скроллбара для WebKit-браузеров (Chrome, Safari, Edge) */
.search-page__filter-options::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

.search-page__filter-options::-webkit-scrollbar-track {
  background: transparent; /* Цвет фона дорожки (как на скриншоте) */
  border-radius: 10px; /* Закругление краёв дорожки */
}

.search-page__filter-options::-webkit-scrollbar-thumb {
  background-color: var(--color_bali);
  border-radius: 5px; /* Закругление краёв ползунка */
  transition: background-color 0.3s ease; /* Плавный переход */
}

.search-page__filter-options--scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
}

.search-page__filter-options::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    75,
    85,
    99,
    0.5
  ); /* Цвет при наведении с прозрачностью */
}

.search-page__filter-group.open .search-page__filter-options,
.search-page__filter-other.open .search-page__filter-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Чекбоксы */
.search-page__filter-checkbox-label,
.search-page__range-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 11.5px 15px;
  padding-left: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.search-page__filter-checkbox-hidden,
.search-page__range-checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.search-page__range-checkbox {
  padding-left: 30px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-page__range-checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.search-page__filter-checkbox-icon::before,
.search-page__range-checkbox-icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-color: var(--color_athens-gray);
  border-radius: 5px;
}

.search-page__filter-checkbox-icon::after,
.search-page__range-checkbox-icon::after {
  content: url("../img/check_w20-checked.svg");
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.search-page__range-inputs input[type="number"]::-webkit-inner-spin-button,
.search-page__range-inputs input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-page__range-checkbox-icon::before,
.search-page__range-checkbox-icon::after {
  left: 0;
}

.search-page__filter-checkbox-value:checked
  + .search-page__filter-checkbox-icon::after,
.search-page__range-checkbox-value:checked
  + .search-page__range-checkbox-icon::after {
  opacity: 1;
}

.search-page__radio-type {
  padding-left: 15px;
}

.search-page__radio-type > .search-page__filter-checkbox-icon {
  display: none;
}

/* Стили для диапазонов */
.search-page__range-options {
  padding: 15px;
}

.search-page__range-inputs {
  margin-bottom: 10px;
  width: fit-content;
}

.search-page__range-inputs > .search-page__range-min {
  margin-bottom: 15px;
}

/* .search-page__range-min {
} */

.search-page__input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.search-page__range-inputs .search-page__input-wrapper:first-of-type {
  margin-bottom: 15px;
}

.search-page__input-currency {
  font-size: 12px;
  font-weight: 400;
  color: var(--color_bali);
}

.search-page__range-inputs input[type="number"] {
  display: block;
  width: max-content;
  min-width: 100px;
  max-width: 171px;
  padding: 11.5px 15px;
  line-height: normal;
  border: none;
  border-radius: 5px;
  background-color: var(--color_athens-gray);
  font-size: 14px;
  font-weight: 400;
  color: var(--color_space);
}

.search-page__range-inputs input[type="number"]::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--color_bali);
}

.search-page__range-inputs input[type="number"]:focus {
  outline: 1px solid var(--color_dodger);
  background-color: var(--color_zircon);
}

/* Стили для кнопки Найти */
.search-page__apply-btn {
  background: var(--color_dodger);
  color: var(--color_white);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20.3px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: auto;
}

.search-page__btn-right {
  margin-left: auto;
  display: flex;
  column-gap: 10px;
}

.search-page__icon-company {
  position: absolute;
  right: 15px;
  top: 11.5px;
  height: 20px;
}

.search-page__include-icon {
  min-width: calc(100% + 30px);
}

/* styles for city component */
.search-page__filter-city,
.search-page__filter-metro {
  position: relative;
  /* margin-bottom: 15px; */
}

.search-page__filter-city .search-page__filter-header,
.search-page__filter-city .search-page__filter-input-wrapper,
.search-page__filter-metro .search-page__filter-header,
.search-page__filter-metro .search-page__filter-input-wrapper {
  display: none;
}

.search-page__filter-city.default .search-page__filter-header,
.search-page__filter-metro.default .search-page__filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 15px;
  background-color: var(--color_athens-gray);
  border-radius: 5px;
  cursor: pointer;
  gap: 15px;
}

.search-page__filter-city.open .search-page__filter-input-wrapper,
.search-page__filter-metro.open .search-page__filter-input-wrapper {
  display: block;
  position: relative;
}

.search-page__filter-city.selected .search-page__filter-input-wrapper,
.search-page__filter-metro.selected .search-page__filter-input-wrapper {
  display: block;
}

.search-page__filter-header-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color_space);
}

.search-page__filter-input-wrapper {
  position: relative;
}

.search-page__filter-city-input,
.search-page__filter-metro-input {
  max-width: 217px;
  width: 100%;
  padding: 11.5px 15px;
  padding-left: 41px;
  border-radius: 5px;
  background-color: var(--color_athens-gray);
  font-size: 14px;
  color: var(--color_space);
  line-height: normal;
  border: none;
  background-image: url("../img/search-icon16.svg");
  background-position: left 15px center;
  background-repeat: no-repeat;
  background-size: auto;
}

.search-page__filter-city-input:focus,
.search-page__filter-city-input:focus-within,
.search-page__filter-city-input:focus-visible,
.search-page__filter-metro-input:focus,
.search-page__filter-metro-input:focus-within,
.search-page__filter-metro-input:focus-visible {
  /* outline: 1px solid var(--color_dodger);
  border-color: var(--color_dodger); */
  outline: none;
  border: none;
}

.search-page__filter-reset {
  position: absolute;
  right: 15px;
  top: 52%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.search-page__filter-city > .search-page__city-options,
.search-page__filter-metro > .search-page__metro-options {
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: max-content;
  min-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
}

.search-page__filter-city .search-page__city-options li,
.search-page__filter-metro .search-page__metro-options li {
  padding: 11.5px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--color_space);
  line-height: normal;
}

/* .search-page__filter-city .search-page__city-options li:hover {
  background-color: var(--color_athens-gray);
} */

.search-page__filter-city.default .search-page__filter-toggle,
.search-page__filter-metro.default .search-page__filter-toggle {
  transform: rotate(0deg);
}

.search-page__filter-city.open .search-page__filter-toggle,
.search-page__filter-metro.open .search-page__filter-toggle {
  transform: rotate(180deg);
}

.search-page__filter-city.open .search-page__city-options,
.search-page__filter-metro.open .search-page__metro-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-page__filter-city.selected .search-page__filter-toggle svg,
.search-page__filter-metro.selected .search-page__filter-toggle svg {
  display: none;
}

.search-page__filter-city.selected .search-page__filter-toggle,
.search-page__filter-metro.selected .search-page__filter-toggle {
  display: flex;
  align-items: center;
}

.search-page__filter-city.selected .search-page__filter-reset,
.search-page__filter-metro.selected .search-page__filter-reset {
  display: flex;
}

.search-page__filter-city.default .search-page__filter-header span:first-child,
.search-page__filter-metro.default
  .search-page__filter-header
  span:first-child {
  color: var(--color_bali);
}

.search-page__city-hint,
.search-page__metro-hint {
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color_white);
  border-radius: 5px;
  color: var(--color_bali);
  font-size: 14px;
  font-weight: 400;
  padding: 11.5px 16.68px;
  width: max-content;
  line-height: normal;
  top: calc(100% + 10px);
}

.search-page__filter-city.selected .search-page__filter-city-input,
.search-page__filter-metro.selected .search-page__filter-metro-input {
  border: none;
  background-image: none;
  padding-left: 15px;
  background-color: var(--color_zircon);
  color: var(--color_dodger);
}

.search-page__city-options li:not(:last-of-type),
.search-page__metro-options li:not(:last-of-type) {
  border-bottom: 1px solid var(--color_gray);
}
/* end main droplist settings */

.filter-trigger {
  padding-left: 25px;
  font-size: 13px;
  font-weight: 400;
  color: var(--color_dodger);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}

.filter-trigger.closed {
  background-image: url("../img/filter.svg");
}

.filter-trigger.opened {
  background-image: url("../img/arrow-up.svg");
}

.search-page__fav-resumes {
  font-size: 13px;
  font-weight: 400;
  background-color: var(--color_athens-gray);
  padding: 10px 10px;
  border-radius: 5px;
  color: var(--color_bali);
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.search-page__fav-reset {
  display: none;
}

.search-page__fav-resumes.active svg path {
  fill: var(--color_dodger);
}

.search-page__fav-resumes.active span:nth-child(2) {
  color: var(--color_dodger);
}

.search-page__fav-resumes.active .search-page__fav-reset {
  display: flex;
  margin-left: 10px;
}

.search-page__fav-resumes .flex {
  margin-right: 5px;
}

.search-page__default-state.searching {
  display: none;
}

.results__viewed-input--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.results__viewed-checkbox {
  position: relative;
  color: var(--color_space);
  font-size: 15px;
  font-weight: 400;
  padding-left: 35px;
}

.results__viewed-checkbox::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--color_athens-gray);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.results__viewed-checkbox::after {
  position: absolute;
  background-image: url("../img/checked.svg");
  width: 25px;
  height: 25px;
  top: -3px;
  left: 0;
  content: "";
  opacity: 0;
}

.results__viewed-input:checked + .results__viewed-checkbox::before {
  opacity: 0;
  visibility: hidden;
}

.results__viewed-input:checked + .results__viewed-checkbox::after {
  opacity: 1;
}

.results__hide-viewed {
  cursor: pointer;
  user-select: none;
}

.results__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.results__save-btn {
  color: var(--color_btn-succes);
  padding: 11px 15px;
}

.result__save {
  background-color: var(--color_white);
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* cards settings */
.card {
  width: 100%;
  background-color: var(--color_white);
  border-radius: 10px;
  padding: 23px;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: height 0.3s ease;
  height: auto;
}

.p-flex {
  display: flex;
}

.f14w300 {
  font-size: 14px;
  font-weight: 300;
}

.card__main {
  display: flex;
  justify-content: space-between;
}

.card__main-avatar {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  flex-shrink: 0;
}

.card__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__main-title {
  color: var(--color_dodger);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

.card__main-quick {
  flex-wrap: wrap;
  align-items: center;
  row-gap: 9px;
  margin-bottom: 16px;
}

.card__main-salary {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
}

.card__description-skill,
.card__description-location,
.card__description-contacts {
  min-width: 140px;
}

.card__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
}

.card__contacts-wh {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.card__contacts-tg {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.card__contacts-wrapper {
  display: flex;
}

.card__description-item:not(:last-of-type) {
  border-bottom: 2px solid var(--color_border);
  padding-bottom: 8px;
  margin-bottom: 11px;
}

.card__checkbox-item:checked + .card__checkbox-icon::after {
  opacity: 1;
}

.card__main-attr {
  margin-bottom: 32px;
}

.card__description {
  margin-bottom: 28px;
}

.border--dodger {
  border: 2px solid var(--color_dodger);
}

.card__main-divider {
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  padding-left: 6.5px;
  padding-right: 6.5px;
}

.card__contacts-wh {
  margin-right: 2px;
}

.card__contacts-wh,
.card__contacts-tg {
  color: var(--color_dodger);
  font-size: 14px;
  font-weight: 300;
}

.card__contacts-divider {
  color: var(--color_bali);
  font-size: 14px;
  font-weight: 400;
  margin-right: 1px;
}

.card__main-view {
  background-color: var(--color_background);
  border-radius: 5px;
  background-image: url("../img/new-card-eye.svg");
  padding: 5px 0;
  line-height: normal;
  padding-left: 34px;
  padding-right: 12px;
  background-position: 9px center;
}

.border--blaze {
  border: 2px solid var(--color_blaze-orange);
}

.card__main-offer {
  background-color: var(--color_seranade);
  color: var(--color_blaze-orange);
  border-radius: 5px;
  background-image: url("../img/orange-gift.svg");
  padding: 6.5px 0;
  line-height: normal;
  padding-left: 34px;
  padding-right: 12px;
  background-position: 9px center;
}

.card__main-custom {
  background-color: var(--color_selago);
  color: var(--color_violet);
  border-radius: 5px;
  background-image: url("../img/new-card-custom.svg");
  padding: 6.5px 0;
  line-height: normal;
  padding-left: 34px;
  padding-right: 12px;
  background-position: 9px center;
}

.border--violet {
  border: 2px solid var(--color_violet);
}

.card__main-manually {
  padding: 6.5px 10.21px;
  border-radius: 5px;
  background-color: var(--color_background);
  line-height: normal;
}

.card__chat-count {
  background-color: var(--color_red);
  color: var(--color_white);
  border-radius: 30px;
  padding: 2.5px 5.15px;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -2px;
}

.card__btn-comments--active {
  background-color: var(--color_space);
  color: var(--color_white);
}

.card__comment {
  position: relative;
  margin-top: 15px;
}

.card__input-wrapper {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color_background);
  width: 100%;
  min-height: 130px;
  border: none;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--color_space);
}

.card__input-wrapper:focus {
  outline: 1px solid var(--color_dodger);
}

.card__comment-btns {
  position: absolute;
  bottom: 19px;
  left: 17px;
}

.card__input-wrapper::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--color_bali);
}

.card__comment-accept {
  background-color: var(--color_dodger);
  color: var(--color_white);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding: 7px 15.07px;
  margin-right: 5px;
}

.card__comment-cancel {
  background-color: var(--color_bali);
  color: var(--color_white);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding: 7px 15.07px;
}

.comments__btn-edit {
  width: 20px;
  height: 20px;
  background-image: url("../img/comments-edit.svg");
}

.comments__message-btns {
  height: fit-content;
}

.comments__btn-delete {
  background-image: url("../img/comments-bucket.svg");
  width: 20px;
  height: 20px;
}

.comments__message-item {
  background-color: var(--color_catskill);
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
  padding-right: 17px;
}

.comments__message {
  margin-top: 14px;
}

.comments__message-author {
  margin-bottom: 7px;
}

.card__main-item {
  background-color: var(--color_background);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: normal;
  font-size: 14px;
  font-weight: 500;
  color: var(--color_bali);
}

.card__main-item:not(:last-of-type) {
  margin-right: 5px;
}

.card__view-item {
  font-weight: 500;
}

.card__footer-fav {
  background-image: url("../img/heart.svg");
  background-position: center;
  border-radius: 5px;
  background-color: var(--color_athens-gray);
  width: 40px;
  height: 40px;
}

.card__footer-left {
  display: flex;
  column-gap: 11px;
  align-items: center;
}

.card__footer-comment {
  background-color: var(--color_athens-gray);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.results__cards-wrapper .card:not(:last-of-type) {
  margin-bottom: 17px;
}

.search-page__results-state.results.hide {
  display: none;
}

.fav__return {
  background-color: var(--color_space);
  color: var(--color_white);
  border-radius: 5px;
  padding: 10.5px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.f35w700 {
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  color: var(--color_space);
}

.fav__title {
  margin-bottom: 25px;
}

/* sets for navbar */
/*temp*/

/*scroll-x*/
/*styled horizontal scroll bar*/
.scroll-x {
  width: 100%;
  display: flex;
  position: relative;
  padding: 5px;
  background-color: var(--color_white);
  border-radius: 10px;
}

.scroll-x__wrapper {
  overflow-x: auto;
  display: flex;
  width: calc(100% - 50px);
}

.btn-scroll {
  outline: none;
  padding: 11.5px 16px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  color: var(--color_bali);
  background: var(--color_athens-gray);
  border-radius: 5px;
  background-image: url("../img/fav-icon.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  white-space: nowrap;
}

.btn-data {
  color: var(--color_bali);
}

.btn-scroll--active {
  background-color: var(--color_zircon);
  color: var(--color_dodger);
  padding: 11.5px 10px;
}

.btn-scroll--active .btn-data {
  color: var(--color_dodger);
}

.scroll-x__btn {
  margin-left: 5px;
  user-select: none;
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
}

.scroll-x__btn:first-child {
  margin-left: 0;
}

.scroll-x__wrapper::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.btn-settings {
  width: 50px;
  height: 50px;
  background-color: var(--color_white);
  background-image: url("../img/scroll-settings.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-left: 1px solid var(--color_gray);
  border-right: 1px solid var(--color_gray);
  right: 100px;
  position: absolute;
  top: 0;
}

.btn-right {
  width: 50px;
  height: 50px;
  background-color: var(--color_white);
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  position: absolute;
  right: 50px;
  top: 0;
  border-radius: 0 10px 10px 0;
}

.btn-left {
  width: 50px;
  height: 50px;
  background-color: var(--color_white);
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color_gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-left,
.btn-right {
  visibility: hidden;
}

.btn-settings {
  right: 0;
  border-radius: 0 10px 10px 0;
}

.scroll-x__favs {
  background-color: var(--color_pink);
  color: var(--color_space);
  background-image: url("../img/heart-red20.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 400;
  padding: 10.5px 12px 10.5px 40px;
}

.scroll-x__favs .btn-data {
  color: var(--color_space);
  padding-left: 10px;
}

.scroll-x__btn .btn-data {
  padding-left: 7px;
}

.temp-container {
  margin-bottom: 25px;
}

.card__footer-more {
  background-image: url("../img/arrow-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px;
  height: fit-content;
  margin-left: 15px;
  color: var(--color_dodger);
  font-size: 14px;
  font-weight: 500;
}

.fav .card:not(:last-of-type) {
  margin-bottom: 15px;
}

.fav.hide {
  display: none;
}

.default.hide {
  display: none;
}

.results__return {
  background-color: var(--color_space);
  color: var(--color_white);
  border-radius: 5px;
  padding: 10.5px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.search-input-wrapper .search-input:focus {
  outline: none;
  background-color: transparent;
}

.search-page__title {
  margin: 0;
  padding-top: 61px;
  font-size: 35px;
  font-weight: 700;
  transform: translateX(-4px);
  margin-bottom: 15px;
}

.search-page__description {
  font-size: 15px;
  font-weight: 400;
}

.search-page__card-title {
  line-height: 124%;
}

.search-page__results-state {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.results__save-title {
  margin-bottom: 4px;
}

.card__main-name {
  font-size: 14px;
  font-weight: 400;
}

.card__footer-open {
  padding: 10px 18px;
}

.card__footer-update {
  /* padding-right: 8px; */
}

.card__update-title {
  margin-bottom: 5px;
}

.search-page__favorites {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding-top: 25px;
}
