/*choices*/
.choices__inner {
    background-color: var(--color_athens-gray);
}

.choices__list--single > .choices__item {
    color: var(--color_space);
}

.choices__list--dropdown {
    border: none;
    box-shadow: 0 0 15px 0 #00000026;
    border-radius: 5px;
}

.choices__item {
    color: var(--color_space);
}

.choices[data-type*=select-one]::after {
    content: "";
    position: absolute;
    top: 16.88px;
    right: 15.62px;
    width: 13.75px;
    height: 7.5px;
    opacity: 1;
    background-image: url("../img/add-option-dropdown-arrow.svg");
}

.add__logo-container {
    margin-bottom: 25px;
}

.add__logo-title {
    margin-bottom: 15px;
}

/*custom btn*/
.preview {
    width: 90vw;
    height: 400px;
    max-width: 700px;
    position: relative;

    /* as default it'll not be displayed */
    display: none;
}
.preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* we don't want to see this file input type since we want to create a custom one */
.add__input[type="file"] {
    display: none;
}

.add__logo-content {
    display: flex;
    min-height: 140px;
    position: relative;
}

.add__custom-btn__label {
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    background-image: url("../img/add__logo-upload.png");
    color: transparent;
    cursor: pointer;
    position: absolute;
}

/*.add__custom-btn__label:hover {*/
/*    background-color: #FF2d2d;*/
/*}*/

/*.add__custom-btn__label:active {*/
/*    transform: translateX(-50%) scale(.95);*/
/*}*/

.add__upload-descr {
    width: 71%;
    margin-left: auto;
    font-size: 14px;
    color: var(--color_bali);
}

.add__background {
    position: absolute;
    max-width: 140px;
    max-height: 140px;
    z-index: 3;
}