/*nav*/
.nav {
    z-index: 1;
    position: relative;
}

.nav__links {
    margin: 0;
    padding: 0;
}

.nav__links:nth-child(2) {
    margin-bottom: 40px;
}

.nav__links:nth-child(3) {
    margin-bottom: auto;
}

.nav__links:nth-child(4) {
    margin-bottom: 40px;
}

.nav__link {
    width: 190px;
}

.link-desktop,
.link-vacancies,
.link-candidates,
.link-calendar,
.link-messages,
.link-companies,
.link-documents,
.link-rates,
.link-support,
.link-settings {
    position: relative;
}

.link-desktop::before {
    content: url("../img/icon-desktop.svg");
    position: absolute;
    top: 0;
    left: 3px;
}

.link-vacancies::before {
    content: url("../img/icon-vacancies.svg");
    position: absolute;
    top: -1px;
    left: 2px;
}

.link-candidates::before {
    content: url("../img/icon-candidates.svg");
    position: absolute;
    top: 0;
    left: 3px;
}

.link-calendar::before {
    content: url("../img/icon-calendar.svg");
    position: absolute;
    top: -2px;
    left: 3px;
}

.link-messages::before {
    content: url("../img/icon-messages.svg");
    position: absolute;
    top: -2px;
    left: 3px;
}

.link-companies::before {
    content: url("../img/icon-companies.svg");
    position: absolute;
    top: -2px;
    left: 0;
}

.link-documents::before {
    content: url("../img/icon-documents.svg");
    position: absolute;
    top: -2px;
    left: 3px;
}

.link-rates::before {
    content: url("../img/icon-rates.svg");
    position: absolute;
    top: 0;
    left: 2px;
}

.link-support::before {
    content: url("../img/icon-support.svg");
    position: absolute;
    top: 0;
    left: 1px;
}

.link-settings::before {
    content: url("../img/icon-settings.svg");
    position: absolute;
    top: -1px;
    left: 2px;
}

.nav__link-item {
    color: var(--color_white);
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    line-height: normal;
    opacity: 0.5;
}

.nav__link:not(:last-of-type) {
    margin-bottom: 35px;
}

.none-stick {
    margin-bottom: 35px;
}

.nav__links-caption {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color_semi-white);
}

.nav__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    padding: 0 40px;
    background-color: var(--color_space);
    height: 100vh;
}

.nav__logo {
    display: inline-block;
    margin-bottom: 60px;
}

.nav__logo-icon {
    width: 107.999px;
    transform: translate(0, 15px);
}

/*search-bar*/
.search-bar {
    position: relative;
}

.search-bar__container {
    position: absolute;
    display: flex;
    background-color: var(--color_white);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    width: 100%;
    padding: 0 49px 0 319px;
}

.search-bar__form {
    margin-right: auto;
}

.search-bar__form::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 345px;
    top: 25px;
    background-image: url("../img/search-icon.svg");
}

.search-bar__form-space {
    border: none;
    padding-left: 55px;
    width: 107.805%;
    min-height: 69px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color_bali);
    border-left: 1px solid var(--color_gray);
}

.search-bar__btn-wrap {
    width: 90px;
    display: flex;
    min-height: 69px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--color_gray);
    transform: translate(-3px, 2px);
}

.search-bar__btn-wrap:nth-child(3) {
    border-right: 1px solid var(--color_gray);
    transform: translate(-2px, 1px);
}

.search-bar__btn {
    width: 40px;
    height: 40px;
    background-color: var(--color_background);
    border-radius: 40px;
}

.search-bar__note,
.search-bar__acc {
    width: 22px;
    height: 22px;
}

/*begin*/
.begin__container {
    position: relative;
    min-height: 382px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color_white);
}

.begin__container::before {
    content: url("../img/add-vacancies.svg");
    position: absolute;
    width: 80px;
    height: 80px;
}

.begin__title {
    padding-top: 105px;
    margin-bottom: 11px;
    text-align: center;
}

.begin__descr {
    max-width: 50%;
    text-align: center;
    margin-bottom: 24px;
}

/*НОВАЯ СТРАНИЦА*/
/*vacancies*/
/*header*/
.vacancies {
    padding: 95px 0 0 295px;
}