/*choices*/
.choices__inner {
    background-color: var(--color_athens-gray);
}

.choices__list--single > .choices__item {
    color: var(--color_space);
}

.choices__list--single {
    padding: 6px 16px 4px 7px;
}

.choices__list--dropdown {
    top: 50px;
    border: none;
    box-shadow: 0 0 15px 0 #00000026;
    border-radius: 5px;
}

.choices__item {
    color: var(--color_space);
}

.choices[data-type*=select-one]::after {
    content: "";
    position: absolute;
    top: 16.88px;
    right: 18.62px;
    width: 18px;
    height: 10px;
    opacity: 0.5;
    transform: rotate(180deg);
    background-image: url("../img/add-option-dropdown-arrow.svg");
}

.add__logo-container {
    margin-bottom: 25px;
}

.add__logo-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color_space);
}

/*custom btn*/
.preview {
    width: 90vw;
    height: 400px;
    max-width: 700px;
    position: relative;

    /* as default it'll not be displayed */
    display: none;
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* we don't want to see this file input type since we want to create a custom one */
.add__input[type="file"] {
    display: none;
}

.add__logo-content {
    display: flex;
    min-height: 140px;
    position: relative;
}

.add__custom-btn__label {
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    background-image: url("../img/add__logo-upload.png");
    color: transparent;
    cursor: pointer;
    position: absolute;
}

/*.add__custom-btn__label:hover {*/
/*    background-color: #FF2d2d;*/
/*}*/

/*.add__custom-btn__label:active {*/
/*    transform: translateX(-50%) scale(.95);*/
/*}*/

.add__upload-descr {
    width: calc(100% - 165px);
    margin-left: auto;
    padding-top: 46px;
    font-size: 14px;
    color: var(--color_bali);
}

.add__background {
    position: absolute;
    max-width: 140px;
    max-height: 140px;
    z-index: 3;
}

/*checks rates*/
.rates__list,
.invoice__list {
    margin: 0;
    padding: 0;
}

.rates__list-hidden,
.invoice__list-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    clip: rect(0 0 0 0);
}

.rates__list-title,
.invoice__item-label {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_space);
    padding: 22px 14px 23px 44px;
    /*z-index: 2;*/
}

.rates__list-dot::before,
.invoice__list-dot::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 14px;
    background-image: url("../img/rates-ellipse-empty.svg");
    background-repeat: no-repeat;
}

.rates__list-dot::after,
.invoice__list-dot::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 14px;
    background-image: url("../img/rates-ellipse-check.svg");
    background-repeat: no-repeat;
    opacity: 0;
}

.rates__list-check:checked ~ .rates__list-dot::after {
    opacity: 1;
}

.rates__list-check:checked ~ .rates__list-dot::before {
    opacity: 0;
}

.invoice__item-check:checked + .invoice__list-dot::after {
    opacity: 1;
}

.invoice__item-check:checked + .invoice__list-dot::before {
    opacity: 0;
}

.rates__selected {
    border: 1px solid var(--color_dodger);
}

/*error sets*/
.main__post.error--visible {
    margin-bottom: 52px;
}

/*droplist sets*/
.droplist {
    max-width: 100%;
    width: 100%;
}

.droplist__items {
    width: 100%;
}

/*any sets*/
.add__wage-label__min {
    width: 48.862%;
    margin-bottom: 0;
}

.add__wage-label__max {
    width: 48.862%;
    margin-bottom: 0;
}

.add__wage-label__min.error--visible,
.add__wage-label__max.error--visible {
    margin-bottom: 29px;
}

.add__keys-input:focus {
    outline: 1px solid var(--color_dodger);
    background-color: var(--color_zircon);
}


.add__tags {
    margin-bottom: 23px;
    width: 100%;
}

/*search city sets*/
.search-box {
    position: relative;
    margin-bottom: 25px;
}

#suggestions-pane {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background: var(--color_white);
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
    display: none;
    margin-top: 10px;
    border-radius: 5px;
}

.suggestion {
    font-size: 14px;
    color: var(--color_space);
    user-select: none;
    cursor: pointer;
}

.suggestion:not(:last-of-type) {
    margin-bottom: 10px;
}

.search-box__input {
    display: block;
    font-size: 14px;
    width: 100%;
    border: none;
    padding: 11px 15px;
    border-radius: 5px;
    color: var(--color_space);
    background-color: var(--color_athens-gray);
}

.search-box__input:focus {
    outline: 1px solid var(--color_dodger);
    background-color: var(--color_zircon);
}

.search-box__input::placeholder {
    color: var(--color_bali);
    font-size: 14px;
    font-weight: 400;
}

/*end sets*/
.add__extra-street__data {
    width: 100%;
}

.add__extra-street__data:focus {
    outline: 1px solid var(--color_dodger);
    background-color: var(--color_zircon);
}

.add__extra-wage {
    margin-bottom: 0;
}

.add__extra-wage.error--visible {
    margin-bottom: 25px;
}

.add__extra-house__data:focus {
    outline: 1px solid var(--color_dodger);
    background-color: var(--color_zircon);
}

/*sets reused input*/
.add__station-values {
    margin-bottom: 23px;
}

/*end sets reused*/
.add__label {
    margin-bottom: 0;
}

.add__label.error--visible {
    margin-bottom: 35px;
}

.add__name-company.error--visible {
    margin-bottom: 53px;
}

.add__extra-name__label {
    margin-bottom: 0;
}

.add__extra-name__label.error--visible {
    margin-bottom: 30px;
}

.import__container {
    background-color: var(--color_white);
    padding: 25px;
    border-radius: 10px;
    position: relative;
}

.import {
    max-width: 435px;
    min-height: 236px;
}

.add__import-close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/delete-x.svg");
    background-repeat: no-repeat;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.import__title {
    display: flex;
    margin-bottom: 8px;
}

.import__title-item {
    margin-right: 10px;
}

.import__link:not(:last-of-type) {
    margin-right: 5px;
}

.import__descr {
    margin-bottom: 37px;
}

.import__label {
    margin-bottom: 0;
    width: calc(100% - 173px);
}

.import__label.error--visible {
    margin-bottom: 29px;
}

.import__form {
    display: flex;
    justify-content: space-between;
}

.import__btn {
    height: fit-content;
}

.search-bar__form {
    visibility: hidden;
}

.close__import {
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .5s ease-in-out;
}

.ai__btn-get {
    color: var(--color_white);
    margin-right: 15px;
}

.ai__amount {
    color: var(--color_bali);
}

.ai__btns-wrapper {
    display: flex;
    align-items: center;
}

.ai__btn-no {
    margin-left: auto;
    min-width: 98px;
}

.ai {
    max-width: 652px;
    min-height: 450px;
}

.ai__container {
    padding: 25px;
}

.ai__title {
    margin-bottom: 9px;
}

.ai__descr {
    margin-bottom: 37px;
}

.ai__container .main__span-custom {
    margin-bottom: 11px;
}

.ai__container .main__post-form {
    margin-bottom: 19px;
}

.ai__container .add__contacts-city__data {
    margin-bottom: 40px;
}

/*screen loader css*/
.dots-wrapper {
    height: 39px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; /* Transition for smooth appearance */
    background-color: navy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color_white);
}

.dots-top, .dots-bottom {
    display: flex;
}

.dots-top {
    width: 65px;
    justify-content: space-between;
    margin-right: 25px;
    animation: dot-top .5s alternate ease-out infinite;
}

.dots-bottom {
    width: 65px;
    margin-left: 29px;
    justify-content: space-between;
    animation: dot-bottom .5s alternate ease-out infinite;
}

@keyframes dot-top {
    from {
        transform: translateY(29px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes dot-bottom  {
    from {
        transform: translateY(-29px);
    }
    to {
        transform: translateY(0);
    }
}