<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Начало работы</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container" id="noneScalable">
        <a href="#" class="nav__logo"><img src="../img/logo.png" alt="Логотип компании" class="nav__logo-icon"></a>
        <ul class="nav__links">
            <li class="nav__links-caption">Рекрутинг</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-desktop">Рабочий стол</a></li>
            <li class="nav__link list-reset"><a href="../partials/vacancies.html"
                                                class="nav__link-item link-vacancies active-page">Вакансии</a>
            </li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-candidates">Кандидаты</a></li>
        </ul>
        <ul class="nav__links">
            <li class="nav__links-caption">Организация</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-calendar">Календарь</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-messages">Сообщения</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-companies">Компании</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-documents">Документы</a></li>
            <li class="nav__link list-reset none-stick"><a href="#" class="nav__link-item link-rates">Тарифные планы</a>
            </li>
        </ul>
        <ul class="nav__links">
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-settings">Настройки</a></li>
        </ul>
    </div>
</section>
<!--блок поискового меню-->
<section class="search-bar">
    <div class="search-bar__container">
        <form action="#" class="search-bar__form">
            <input type="search" class="search-bar__form-space" placeholder="Поиск">
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/notification.svg" alt="Уведомления"
                                                           class="search-bar__note"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/support.svg" alt="Поддержка"
                                                           class="search-bar__support"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/profile.svg" alt="Личный кабинет"
                                                           class="search-bar__acc"></button>
        </div>
    </div>
</section>
<!--основной контент страницы-->
<section class="add container">
    <div class="add__container">
        <div class="add__header">
            <h2 class="add__title">Создание вакансии</h2>
            <div class="add__option">
                <a href="#" class="add__option-upload">Загрузить вакансию с работного сайта</a><a href="#"
                                                                                                  class="add__option-ai">Генерация
                описания ИИ</a>
            </div>
        </div>
        <div class="add__content">
            <div class="add__content-left main">
                <p class="main__title">Основная информация</p>
                <label for="choose-post" class="main__post">
                    Название должности <span class="main__span-custom">*</span>
                    <input type="text" name="choose-post" id="choose-post" placeholder="Например, водитель категории C"
                           class="main__post-form">
                </label>
                <div class="main__skill">
                    <p class="main__skill-title">Специализация <span class="main__span-custom">*</span></p>
                    <a href="#" class="main__skill-choose">Указать специализацию</a>
                </div>
                <div class="main__descr">
                    <label class="main__descr-title">Описание <span
                            class="main__span-custom">*</span>
                        <textarea name="main__textarea-content" class="main__descr-content" id="main__textarea-content"></textarea>
                    </label>
                </div>
            </div>
            <div class="add__content-right"></div>
        </div>
    </div>
</section>
<script src="../js/libs-js/nicedit.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function () {
        new nicEditor({buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'image']}).panelInstance('main__textarea-content');
    });
</script>
<script src="../js/script.js"></script>
</body>
</html>