<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Кандидаты</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/candidates-null.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container">
        <a href="#" class="nav__logo"><img src="../img/logo.svg" alt="Логотип компании" class="nav__logo-icon"></a>
        <ul class="nav__links">
            <li class="nav__links-caption">Рекрутинг</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-desktop">Рабочий стол</a></li>
            <li class="nav__link list-reset"><a href="../partials/vacancies.html" class="nav__link-item link-vacancies">Вакансии</a>
            </li>
            <li class="nav__link list-reset"><a href="candidates.html"
                                                class="nav__link-item link-candidates active-page">Кандидаты</a></li>
        </ul>
        <ul class="nav__links">
            <li class="nav__links-caption">Организация</li>
            <!--            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-calendar">Календарь</a></li>-->
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-messages">Сообщения</a></li>
            <li class="nav__link list-reset"><a href="company.html" class="nav__link-item link-companies">Компании</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-documents">Документы</a></li>
            <li class="nav__link list-reset none-stick"><a href="#" class="nav__link-item link-rates">Тарифные планы</a>
            </li>
        </ul>
        <ul class="nav__links">
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
            <li class="nav__link list-reset"><a href="settings.html" class="nav__link-item link-settings">Настройки</a></li>
        </ul>
    </div>
</section>
<section class="search-bar">
    <div class="search-bar__container">
        <a href="../index.html" class="search-bar__logo"><img src="../img/media/logo-768.svg" alt="Логотип компании"
                                                              class="nav__logo-icon"></a>
        <form action="#" class="search-bar__form">
            <input type="text" class="search-bar__form-space" placeholder="Поиск" id="input-box">
            <div class="search-bar__dropdown"></div>
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset" id="note-btn">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/notification-768.svg">
                    <img src="../img/notification.svg" alt="Уведомления"
                         class="search-bar__note">
                </picture>
            </button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset" id="supp-btn">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/support-768.svg">
                    <img src="../img/support.svg" alt="Поддержка"
                         class="search-bar__support">
                </picture>
            </button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset" id="acc-btn">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/profile-768.svg">
                    <img src="../img/profile.svg" alt="Личный кабинет"
                         class="search-bar__acc">
                </picture>
            </button>
        </div>
        <div class="search-bar__burger toogle">
            <div class="toogle_bar">
                <div class="toogle__line"></div>
                <div class="toogle__line"></div>
                <div class="toogle__line"></div>
            </div>
        </div>
    </div>
</section>
<section class="nots">
    <div class="nots__container">
        <h3 class="nots__title f16w600">Уведомления</h3>
        <ul class="nots__cans-list">
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Отклик на вакансию</p></li>
                    <li><p class="nots__user-name f15w500">Валерьев Михаил Александрович</p></li>
                    <li><p class="nots__user-desc f14w400">Менеджер по продажам акссесуаров для спорта</p></li>
                </ul>
                <p class="nots__time-now f14w400 c-bali">сейчас</p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Бухгалтерия</p></li>
                    <li><p class="nots__user-name f15w500">Александра степанова</p></li>
                    <li><p class="nots__user-desc f14w400">Здравствуйте, вы запрашивали закрывающие документы, вчера мы
                        их отправили</p></li>
                </ul>
                <p class="nots__time-recent f14w400 c-bali">5 минут назад</p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Отклик на вакансию</p></li>
                    <li><p class="nots__user-name f15w500">Валерьев Михаил Александрович</p></li>
                    <li><p class="nots__user-desc f14w400">Менеджер по продажам акссесуаров для спорта</p></li>
                </ul>
                <p class="nots__time-hours f14w400 c-bali">1 час назад</p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Личный менеджер</p></li>
                    <li><p class="nots__user-name f15w500">Яна Олейникова</p></li>
                    <li><p class="nots__user-desc f14w400">Действительно, сейчас очень большая конкуренция на уборщиков,
                        я бы не рекомендовало использовать тариф без автоподнятия</p></li>
                </ul>
                <p class="nots__time-hours f14w400 c-bali">1 час назад</p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Отклик на вакансию</p></li>
                    <li><p class="nots__user-name f15w500">Евгения Онегина</p></li>
                    <li><p class="nots__user-desc f14w400">Продуктовый менеджер</p></li>
                </ul>
                <p class="nots__time-days f14w400 c-bali">
                    <time datetime="2023-12-10T13:45">10.12.2023 в 13:45</time>
                </p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Отклик на вакансию</p></li>
                    <li><p class="nots__user-name f15w500">Валерьев Михаил Александрович</p></li>
                    <li><p class="nots__user-desc f14w400">Менеджер по продажам акссесуаров для спорта</p></li>
                </ul>
                <p class="nots__time-days f14w400 c-bali">
                    <time datetime="2023-12-10T13:45">10.12.2023 в 13:45</time>
                </p>
            </li>
            <li class="nots__cans-item">
                <div class="nots__cans-img">
                    <img src="../img/user-invite-not.png" alt="Фотография кандидата">
                </div>
                <ul class="nots__user-info">
                    <li><p class="nots__user-title f14w400 c-bali">Отклик на вакансию</p></li>
                    <li><p class="nots__user-name f15w500">Валерьев Михаил Александрович</p></li>
                    <li><p class="nots__user-desc f14w400">Менеджер по продажам акссесуаров для спорта</p></li>
                </ul>
                <p class="nots__time-days f14w400 c-bali">
                    <time datetime="2023-12-10T13:45">10.12.2023 в 13:45</time>
                </p>
            </li>
        </ul>
        <button class="btn-reset nots__check f15w500">Отметить как прочитанное</button>
    </div>
</section>
<section class="supp">
    <div class="supp__container">
        <!--        default variation 1 on work without icon-->
        <h2 class="supp__title f14w400 c-bali">Ваш личный менеджер</h2>
        <div class="supp__man-img onwork-styles">
            <img src="../img/support-1440.png" alt="Фотография менеджера поддержки" class="supp__man-icon">
        </div>
        <p class="supp__man-name">Купатова Елизавета</p>
        <div class="supp__man-status"><span class="supp__man-item">Сейчас работает</span></div>
        <ul class="supp__main-info">
            <li class="supp__main-time"><span class="supp__main-item">с 10:00 до 20:00 (MSK)</span></li>
            <li class="supp__main-mail bg-fix"><a href="mailto:kupatova.l@jobers.ru" class="supp__main-item">kupatova.l@jobers.ru</a>
            </li>
            <li class="supp__main-phone bg-fix"><a href="tel:+78003332211" class="supp__main-item">8-800-333-22-11 (доб
                103)</a></li>
        </ul>
        <div class="supp__user-num">
            <div class="sup__user-item"><span class="f20w600">32948714</span></div>
            <div class="supp__num-desc"><span class="f15w400 c-bali supp__num-text">Это персональный номер вашего кабинета. Укажите его при обращении, для того что&nbsp;бы сотрудник мог быстрее вам помочь</span>
            </div>
        </div>
        <!--        default variation 2 not work without icon-->
        <!--                <h2 class="supp__title f14w400 c-bali">Ваш личный менеджер</h2>-->
        <!--                <div class="supp__man-img twix-styles">-->
        <!--                    <img src="../img/non-work-icon-man.png" alt="Фотография менеджера поддержки" class="supp__man-icon">-->
        <!--                </div>-->
        <!--                <p class="supp__man-name">Купатова Елизавета</p>-->
        <!--                <div class="supp__man-status__notwork"><span class="supp__man-item">Сейчас не работает</span></div>-->
        <!--                <ul class="supp__main-info">-->
        <!--                    <li class="supp__main-time"><span class="supp__main-item">с 10:00 до 20:00 (MSK)</span></li>-->
        <!--                    <li class="supp__main-mail bg-fix"><a href="mailto:kupatova.l@jobers.ru" class="supp__main-item">kupatova.l@jobers.ru</a>-->
        <!--                    </li>-->
        <!--                    <li class="supp__main-phone bg-fix"><a href="tel:+78003332211" class="supp__main-item">8-800-333-22-11 (доб-->
        <!--                        103)</a></li>-->
        <!--                </ul>-->
        <!--                <div class="supp__user-num">-->
        <!--                    <div class="sup__user-item"><span class="f20w600">32948714</span></div>-->
        <!--                    <div class="supp__num-desc"><span class="f15w400 c-bali supp__num-text">Это персональный номер вашего кабинета. Укажите его при обращении, для того что&nbsp;бы сотрудник мог быстрее вам помочь</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--        default variation 3 notwork with icon-->
        <!--                <h2 class="supp__title f14w400 c-bali">Ваш личный менеджер</h2>-->
        <!--                <div class="supp__man-img twix-styles">-->
        <!--                    <img src="../img/notwork_with-icon.png" alt="Фотография менеджера поддержки" class="supp__man-icon">-->
        <!--                </div>-->
        <!--                <p class="supp__man-name">Купатова Елизавета</p>-->
        <!--                <div class="supp__man-status__notwork"><span class="supp__man-item">Сейчас не работает</span></div>-->
        <!--                <ul class="supp__main-info">-->
        <!--                    <li class="supp__main-time"><span class="supp__main-item">с 10:00 до 20:00 (MSK)</span></li>-->
        <!--                    <li class="supp__main-mail bg-fix"><a href="mailto:kupatova.l@jobers.ru" class="supp__main-item">kupatova.l@jobers.ru</a>-->
        <!--                    </li>-->
        <!--                    <li class="supp__main-phone bg-fix"><a href="tel:+78003332211" class="supp__main-item">8-800-333-22-11 (доб-->
        <!--                        103)</a></li>-->
        <!--                </ul>-->
        <!--                <div class="supp__user-num">-->
        <!--                    <div class="sup__user-item"><span class="f20w600">32948714</span></div>-->
        <!--                    <div class="supp__num-desc"><span class="f15w400 c-bali supp__num-text">Это персональный номер вашего кабинета. Укажите его при обращении, для того что&nbsp;бы сотрудник мог быстрее вам помочь</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--        default variation 4 without icon on work-->
        <!--                <h2 class="supp__title f14w400 c-bali">Ваш личный менеджер</h2>-->
        <!--                <div class="supp__man-img onwork-styles__second">-->
        <!--                    <img src="../img/man-work-without-icon.png" alt="Фотография менеджера поддержки" class="supp__man-icon">-->
        <!--                </div>-->
        <!--                <p class="supp__man-name">Купатова Елизавета</p>-->
        <!--                <div class="supp__man-status__onwork"><span class="supp__man-item">Сейчас не работает</span></div>-->
        <!--                <ul class="supp__main-info">-->
        <!--                    <li class="supp__main-time"><span class="supp__main-item">с 10:00 до 20:00 (MSK)</span></li>-->
        <!--                    <li class="supp__main-mail bg-fix"><a href="mailto:kupatova.l@jobers.ru" class="supp__main-item">kupatova.l@jobers.ru</a>-->
        <!--                    </li>-->
        <!--                    <li class="supp__main-phone bg-fix"><a href="tel:+78003332211" class="supp__main-item">8-800-333-22-11 (доб-->
        <!--                        103)</a></li>-->
        <!--                </ul>-->
        <!--                <div class="supp__user-num">-->
        <!--                    <div class="sup__user-item"><span class="f20w600">32948714</span></div>-->
        <!--                    <div class="supp__num-desc"><span class="f15w400 c-bali supp__num-text">Это персональный номер вашего кабинета. Укажите его при обращении, для того что&nbsp;бы сотрудник мог быстрее вам помочь</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--        default variation 5 with icon on work-->
        <!--                <h2 class="supp__title f14w400 c-bali">Ваш личный менеджер</h2>-->
        <!--                <div class="supp__man-img onwork-styles__second">-->
        <!--                    <img src="../img/notwork_with-icon.png" alt="Фотография менеджера поддержки" class="supp__man-icon">-->
        <!--                </div>-->
        <!--                <p class="supp__man-name">Купатова Елизавета</p>-->
        <!--                <div class="supp__man-status__onwork"><span class="supp__man-item">Сейчас не работает</span></div>-->
        <!--                <ul class="supp__main-info">-->
        <!--                    <li class="supp__main-time"><span class="supp__main-item">с 10:00 до 20:00 (MSK)</span></li>-->
        <!--                    <li class="supp__main-mail bg-fix"><a href="mailto:kupatova.l@jobers.ru" class="supp__main-item">kupatova.l@jobers.ru</a>-->
        <!--                    </li>-->
        <!--                    <li class="supp__main-phone bg-fix"><a href="tel:+78003332211" class="supp__main-item">8-800-333-22-11 (доб-->
        <!--                        103)</a></li>-->
        <!--                </ul>-->
        <!--                <div class="supp__user-num">-->
        <!--                    <div class="sup__user-item"><span class="f20w600">32948714</span></div>-->
        <!--                    <div class="supp__num-desc"><span class="f15w400 c-bali supp__num-text">Это персональный номер вашего кабинета. Укажите его при обращении, для того что&nbsp;бы сотрудник мог быстрее вам помочь</span>-->
        <!--                    </div>-->
        <!--                </div>-->
    </div>
</section>
<section class="acc">
    <div class="acc__container">
        <div class="acc__header">
            <p class="acc__user-name f16w600">Александра Лазарчукова</p>
            <p class="acc__user-level f14w400 c-bali">Администратор</p>
        </div>
        <ul class="acc__active">
            <li class="acc__active-items"><a href="#" class="acc__active-item f15w400">Мой профиль</a></li>
            <li class="acc__active-items"><a href="#" class="acc__active-item f15w400">Лицевой счет</a></li>
            <li class="acc__active-items"><a href="#" class="acc__active-item f15w400">Личный менеджер</a></li>
        </ul>
        <div class="acc__user-exit bg-fix"><a href="#" class="acc__exit-btn f15w400">Выйти из системы</a></div>
    </div>
</section>
<!--основной контент страницы-->
<section class="cannull container">
    <div class="cannull__container">
        <h1 class="cannull__title f25w600">Кандидатов пока нет</h1>
        <p class="cannull__desc f15w400">Новые отклики поступят в этот раздел, заполните вашу первую вакансию.</p>
        <a href="add_vacancies.html" class="btn-reset btn">Добавить вакансию</a>
    </div>
</section>
<script src="../js/script.js"></script>
</body>
</html>