<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Вакансии</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/candidates.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container">
        <a href="../index.html" class="nav__logo"><img src="../img/logo.svg" alt="Логотип компании"
                                                       class="nav__logo-icon"></a>
        <ul class="nav__links">
            <li class="nav__links-caption">Рекрутинг</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-desktop">Рабочий стол</a></li>
            <li class="nav__link list-reset"><a href="../partials/vacancies.html"
                                                class="nav__link-item link-vacancies">Вакансии</a>
            </li>
            <li class="nav__link list-reset"><a href="#"
                                                class="nav__link-item link-candidates active-page">Кандидаты</a></li>
        </ul>
        <ul class="nav__links">
            <li class="nav__links-caption">Организация</li>
            <!--            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-calendar">Календарь</a></li>-->
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-messages">Сообщения</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-companies">Компании</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-documents">Документы</a></li>
            <li class="nav__link list-reset none-stick"><a href="#" class="nav__link-item link-rates">Тарифные планы</a>
            </li>
        </ul>
        <ul class="nav__links">
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-settings">Настройки</a></li>
        </ul>
    </div>
</section>
<!--блок поискового меню-->
<section class="search-bar">
    <div class="search-bar__container">
        <form action="#" class="search-bar__form">
            <input type="text" class="search-bar__form-space" placeholder="Поиск" id="input-box">
            <div class="search-bar__dropdown"></div>
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/notification.svg" alt="Уведомления"
                                                           class="search-bar__note"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/support.svg" alt="Поддержка"
                                                           class="search-bar__support"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/profile.svg" alt="Личный кабинет"
                                                           class="search-bar__acc"></button>
        </div>
    </div>
</section>
<!--main content's page-->
<section class="can container">
    <div class="can__scroll-choose">
        <div class="scroll-x">
            <div class="scroll-x__wrapper" id="scroll-wrapper">
                <button class="btn-reset btn-scroll scroll-x__btn btn-scroll--active">Все&nbsp;кандидаты&nbsp;<span
                        class="btn-data">(128)</span></button>
                <button class="btn-reset btn-scroll scroll-x__btn">Подумать&nbsp;<span class="btn-data">(1)</span>
                </button>
                <button class="btn-reset btn-scroll scroll-x__btn">Телефонное&nbsp;интервью&nbsp;<span class="btn-data">(23)</span>
                </button>
                <button class="btn-reset btn-scroll scroll-x__btn">Подходящие&nbsp;<span class="btn-data">(13)</span>
                </button>
                <button class="btn-reset btn-scroll scroll-x__btn">Отклоненные&nbsp;<span class="btn-data">(0)</span>
                </button>
                <button class="btn-reset btn-scroll scroll-x__btn">Удаленные&nbsp;<span class="btn-data">(0)</span>
                </button>
                <button class="btn-reset btn-scroll scroll-x__btn">Интересно&nbsp;<span class="btn-data">(2)</span>
                </button>
            </div>
            <button class="btn-reset btn-settings"></button>
            <button class="btn-reset btn-right" id="btn-right"></button>
        </div>
    </div>
    <div class="can__section-bar">
        <a href="../partials/add_vacancies.html" class="btn-reset btn can__add-values f15w400">Добавить кандидата</a>
    </div>
    <div class="can__filter-list">
        <label class="can__label">
            <input type="checkbox" class="can__input can__input-hidden" id="filter-cans">
            <span class="can__span">Кандидатов: 128</span>
        </label>
    </div>
    <ul class="can__users">
        <li class="can__user-item user">
            <div class="user__top flex">
                <label class="user__name">
                    <input type="checkbox" class="user__name-input user__name-hidden"
                           id="vacancies-archive-first">
                    <span class="user__check-icon"></span>
                </label>
                <div class="user__vacancy-wrapper">
                    <a href="../partials/candidates-more.html" class="user__vacancy f16w500">Ведущий
                        инженер-энергетик</a>
                </div>
                <div class="user__status-bar flex">
                    <p class="user__status f14w400 mr25">Не&nbsp;просмотрено</p>
                    <button class="btn-reset btn-succes mr15 f15w400">Пригласить</button>
                    <button class="btn-reset btn-delete mr15 user__btn-mind f15w400">Отказать</button>
                    <div class="user__dropdown mr15">Этап</div>
                    <div class="user__burger item__active-two">
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                    </div>
                </div>
            </div>
            <div class="user__bottom">
                <div class="user__metadata flex mb35">
                    <span class="user__in btn-succes mr15 f14w500">Входящий отклик</span>
                    <span class="user__web f14w400 bg-fix c-bali mr15"><time datetime="2024-02-20T17:30">20.02.2024&nbsp;в 17:30</time></span>
                    <button class="btn-reset user__add-tags bg-fix f14w400 c-bali">добавить тег</button>
                </div>
                <div class="user__quick-info flex mb35">
                    <img src="../img/user-main-img.png" alt="Фото кандидата" class="mr25 user__main-img">
                    <div class="user__quick-content flex">
                        <h3 class="user__name f20w600 mb10">Андреев Антон Владимирович</h3>
                        <span class="user__price f18w500 mb20">70&nbsp;000&nbsp;р.</span>
                        <span class="user__contacts f14w400 mb15 c-bali">Контакты</span>
                        <div class="user__contacts__data mb15">
                            <a href="tel:+79992222333" class="user__phone f14w500">+7-(999)-(222)-23-33</a>
                            <a href="#" class="user__wh f14w400 bg-fix">WhatsApp</a>
                            <a href="#" class="user__tg f14w400 bg-fix">Telegram</a>
                        </div>
                        <a href="mailto:pochta12347273a@mail.ru" class="user__mail f14w500">pochta12347273a@mail.ru</a>
                    </div>
                </div>
                <div class="user__more">
                    <div class="user__more-head">
                        <p class="user__more-head__title f14w400 c-bali">Опыт работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Образование</p>
                        <p class="user__more-head__title f14w400 c-bali">Гражданство</p>
                        <p class="user__more-head__title f14w400 c-bali">Возраст</p>
                        <p class="user__more-head__title f14w400 c-bali">Город</p>
                        <p class="user__more-head__title f14w400 c-bali">Последнее место работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Знание языков</p>
                    </div>
                    <div class="user__more-data">
                        <p class="user__more-data__content f14w400">5&nbsp;лет 3&nbsp;месяца</p>
                        <p class="user__more-data__content f14w400">Высшее</p>
                        <p class="user__more-data__content f14w400">Россия</p>
                        <p class="user__more-data__content f14w400">38&nbsp;лет</p>
                        <p class="user__more-data__content f14w400">Новосибирск</p>
                        <p class="user__more-data__content f14w400">Муниципальное учреждение &laquo;Комитет
                            имущественных отношений муниципального образования &laquo;Город Ленск&raquo; (МУ&nbsp;КИО МО&nbsp;&laquo;Город
                            Ленск&raquo;)</p>
                        <p class="user__more-data__content f14w400">Родной язык&nbsp;&mdash; Русский,
                            Английский&nbsp;A1</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="can__user-item user">
            <div class="user__top flex">
                <label class="user__name">
                    <input type="checkbox" class="user__name-input user__name-hidden"
                           id="vacancies-archive-first">
                    <span class="user__check-icon"></span>
                </label>
                <div class="user__vacancy-wrapper">
                    <a href="../partials/candidates-more.html" class="user__vacancy f16w500">Ведущий
                        инженер-энергетик</a>
                </div>
                <div class="user__status-bar flex">
                    <p class="user__status f14w400 mr25">Не&nbsp;просмотрено</p>
                    <button class="btn-reset btn-succes mr15 f15w400">Пригласить</button>
                    <button class="btn-reset btn-delete mr15 user__btn-mind f15w400">Отказать</button>
                    <div class="user__dropdown mr15">Этап</div>
                    <div class="user__burger item__active-two">
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                    </div>
                </div>
            </div>
            <div class="user__bottom">
                <div class="user__metadata flex mb35">
                    <span class="user__in btn-succes mr15 f14w500">Входящий отклик</span>
                    <span class="user__web f14w400 bg-fix c-bali mr15"><time datetime="2024-02-20T17:30">20.02.2024&nbsp;в 17:30</time></span>
                    <button class="btn-reset user__add-tags bg-fix f14w400 c-bali">добавить тег</button>
                </div>
                <div class="user__quick-info flex mb35">
                    <img src="../img/user-main-img.png" alt="Фото кандидата" class="mr25 user__main-img">
                    <div class="user__quick-content flex">
                        <h3 class="user__name f20w600 mb10">Андреев Антон Владимирович</h3>
                        <span class="user__price f18w500 mb20">70&nbsp;000&nbsp;р.</span>
                        <span class="user__contacts f14w400 mb15 c-bali">Контакты</span>
                        <div class="user__contacts__data mb15">
                            <a href="tel:+79992222333" class="user__phone f14w500">+7-(999)-(222)-23-33</a>
                            <a href="#" class="user__wh f14w400 bg-fix">WhatsApp</a>
                            <a href="#" class="user__tg f14w400 bg-fix">Telegram</a>
                        </div>
                        <a href="mailto:pochta12347273a@mail.ru" class="user__mail f14w500">pochta12347273a@mail.ru</a>
                    </div>
                </div>
                <div class="user__more">
                    <div class="user__more-head">
                        <p class="user__more-head__title f14w400 c-bali">Опыт работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Образование</p>
                        <p class="user__more-head__title f14w400 c-bali">Гражданство</p>
                        <p class="user__more-head__title f14w400 c-bali">Возраст</p>
                        <p class="user__more-head__title f14w400 c-bali">Город</p>
                        <p class="user__more-head__title f14w400 c-bali">Последнее место работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Знание языков</p>
                    </div>
                    <div class="user__more-data">
                        <p class="user__more-data__content f14w400">5&nbsp;лет 3&nbsp;месяца</p>
                        <p class="user__more-data__content f14w400">Высшее</p>
                        <p class="user__more-data__content f14w400">Россия</p>
                        <p class="user__more-data__content f14w400">38&nbsp;лет</p>
                        <p class="user__more-data__content f14w400">Новосибирск</p>
                        <p class="user__more-data__content f14w400">Муниципальное учреждение &laquo;Комитет
                            имущественных отношений муниципального образования &laquo;Город Ленск&raquo; (МУ&nbsp;КИО МО&nbsp;&laquo;Город
                            Ленск&raquo;)</p>
                        <p class="user__more-data__content f14w400">Родной язык&nbsp;&mdash; Русский,
                            Английский&nbsp;A1</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="can__user-item user">
            <div class="user__top flex">
                <label class="user__name">
                    <input type="checkbox" class="user__name-input user__name-hidden"
                           id="vacancies-archive-first">
                    <span class="user__check-icon"></span>
                </label>
                <div class="user__vacancy-wrapper">
                    <a href="../partials/candidates-more.html" class="user__vacancy f16w500">Ведущий
                        инженер-энергетик</a>
                </div>
                <div class="user__status-bar flex">
                    <p class="user__status f14w400 mr25">Не&nbsp;просмотрено</p>
                    <button class="btn-reset btn-succes mr15 f15w400">Пригласить</button>
                    <button class="btn-reset btn-delete mr15 user__btn-mind f15w400">Отказать</button>
                    <div class="user__dropdown mr15">Этап</div>
                    <div class="user__burger item__active-two">
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                    </div>
                </div>
            </div>
            <div class="user__bottom">
                <div class="user__metadata flex mb35">
                    <span class="user__in btn-succes mr15 f14w500">Входящий отклик</span>
                    <span class="user__web f14w400 bg-fix c-bali mr15"><time datetime="2024-02-20T17:30">20.02.2024&nbsp;в 17:30</time></span>
                    <button class="btn-reset user__add-tags bg-fix f14w400 c-bali">добавить тег</button>
                </div>
                <div class="user__quick-info flex mb35">
                    <img src="../img/user-main-img.png" alt="Фото кандидата" class="mr25 user__main-img">
                    <div class="user__quick-content flex">
                        <h3 class="user__name f20w600 mb10">Андреев Антон Владимирович</h3>
                        <span class="user__price f18w500 mb20">70&nbsp;000&nbsp;р.</span>
                        <span class="user__contacts f14w400 mb15 c-bali">Контакты</span>
                        <div class="user__contacts__data mb15">
                            <a href="tel:+79992222333" class="user__phone f14w500">+7-(999)-(222)-23-33</a>
                            <a href="#" class="user__wh f14w400 bg-fix">WhatsApp</a>
                            <a href="#" class="user__tg f14w400 bg-fix">Telegram</a>
                        </div>
                        <a href="mailto:pochta12347273a@mail.ru" class="user__mail f14w500">pochta12347273a@mail.ru</a>
                    </div>
                </div>
                <div class="user__more">
                    <div class="user__more-head">
                        <p class="user__more-head__title f14w400 c-bali">Опыт работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Образование</p>
                        <p class="user__more-head__title f14w400 c-bali">Гражданство</p>
                        <p class="user__more-head__title f14w400 c-bali">Возраст</p>
                        <p class="user__more-head__title f14w400 c-bali">Город</p>
                        <p class="user__more-head__title f14w400 c-bali">Последнее место работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Знание языков</p>
                    </div>
                    <div class="user__more-data">
                        <p class="user__more-data__content f14w400">5&nbsp;лет 3&nbsp;месяца</p>
                        <p class="user__more-data__content f14w400">Высшее</p>
                        <p class="user__more-data__content f14w400">Россия</p>
                        <p class="user__more-data__content f14w400">38&nbsp;лет</p>
                        <p class="user__more-data__content f14w400">Новосибирск</p>
                        <p class="user__more-data__content f14w400">Муниципальное учреждение &laquo;Комитет
                            имущественных отношений муниципального образования &laquo;Город Ленск&raquo; (МУ&nbsp;КИО МО&nbsp;&laquo;Город
                            Ленск&raquo;)</p>
                        <p class="user__more-data__content f14w400">Родной язык&nbsp;&mdash; Русский,
                            Английский&nbsp;A1</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="can__user-item user">
            <div class="user__top flex">
                <label class="user__name">
                    <input type="checkbox" class="user__name-input user__name-hidden"
                           id="vacancies-archive-first">
                    <span class="user__check-icon"></span>
                </label>
                <div class="user__vacancy-wrapper">
                    <a href="../partials/candidates-more.html" class="user__vacancy f16w500">Ведущий
                        инженер-энергетик</a>
                </div>
                <div class="user__status-bar flex">
                    <p class="user__status f14w400 mr25">Не&nbsp;просмотрено</p>
                    <button class="btn-reset btn-succes mr15 f15w400">Пригласить</button>
                    <button class="btn-reset btn-delete mr15 user__btn-mind f15w400">Отказать</button>
                    <div class="user__dropdown mr15">Этап</div>
                    <div class="user__burger item__active-two">
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                        <div class="user__burger-dot dot-active-two"></div>
                    </div>
                </div>
            </div>
            <div class="user__bottom">
                <div class="user__metadata flex mb35">
                    <span class="user__in btn-succes mr15 f14w500">Входящий отклик</span>
                    <span class="user__web f14w400 bg-fix c-bali mr15"><time datetime="2024-02-20T17:30">20.02.2024&nbsp;в 17:30</time></span>
                    <button class="btn-reset user__add-tags bg-fix f14w400 c-bali">добавить тег</button>
                </div>
                <div class="user__quick-info flex mb35">
                    <img src="../img/user-main-img.png" alt="Фото кандидата" class="mr25 user__main-img">
                    <div class="user__quick-content flex">
                        <h3 class="user__name f20w600 mb10">Андреев Антон Владимирович</h3>
                        <span class="user__price f18w500 mb20">70&nbsp;000&nbsp;р.</span>
                        <span class="user__contacts f14w400 mb15 c-bali">Контакты</span>
                        <div class="user__contacts__data mb15">
                            <a href="tel:+79992222333" class="user__phone f14w500">+7-(999)-(222)-23-33</a>
                            <a href="#" class="user__wh f14w400 bg-fix">WhatsApp</a>
                            <a href="#" class="user__tg f14w400 bg-fix">Telegram</a>
                        </div>
                        <a href="mailto:pochta12347273a@mail.ru" class="user__mail f14w500">pochta12347273a@mail.ru</a>
                    </div>
                </div>
                <div class="user__more">
                    <div class="user__more-head">
                        <p class="user__more-head__title f14w400 c-bali">Опыт работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Образование</p>
                        <p class="user__more-head__title f14w400 c-bali">Гражданство</p>
                        <p class="user__more-head__title f14w400 c-bali">Возраст</p>
                        <p class="user__more-head__title f14w400 c-bali">Город</p>
                        <p class="user__more-head__title f14w400 c-bali">Последнее место работы</p>
                        <p class="user__more-head__title f14w400 c-bali">Знание языков</p>
                    </div>
                    <div class="user__more-data">
                        <p class="user__more-data__content f14w400">5&nbsp;лет 3&nbsp;месяца</p>
                        <p class="user__more-data__content f14w400">Высшее</p>
                        <p class="user__more-data__content f14w400">Россия</p>
                        <p class="user__more-data__content f14w400">38&nbsp;лет</p>
                        <p class="user__more-data__content f14w400">Новосибирск</p>
                        <p class="user__more-data__content f14w400">Муниципальное учреждение &laquo;Комитет
                            имущественных отношений муниципального образования &laquo;Город Ленск&raquo; (МУ&nbsp;КИО МО&nbsp;&laquo;Город
                            Ленск&raquo;)</p>
                        <p class="user__more-data__content f14w400">Родной язык&nbsp;&mdash; Русский,
                            Английский&nbsp;A1</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<script src="../js/candidates.js"></script>
</body>
</html>