<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Кандидаты</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <link
            rel="stylesheet"
            href="https://unpkg.com/simplebar@latest/dist/simplebar.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/candidates-more.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container">
        <a href="#" class="nav__logo"><img src="../img/logo.svg" alt="Логотип компании" class="nav__logo-icon"></a>
        <div class="nav__wrapper">
            <a href="../partials/candidates.html" class="nav__back f14w400 bg-fix">Вернуться назад</a>
            <ul class="nav__cans">
                <li class="nav__can"><p class="nav__can-title f14w400">Вакансии</p></li>
                <li class="nav__can"><a href="#" class="nav__can-item"><p class="nav__can-name f14w500">Менеджер по&nbsp;продажам</p>
                    <span class="nav__can-capt">35&nbsp;кандидатов</span></a>
                </li>
                <li class="nav__can"><a href="#" class="nav__can-item"><p class="nav__can-name f14w500">Водитель
                    категории&nbsp;C</p><span class="nav__can-capt">2&nbsp;кандидата</span></a>
                </li>
                <li class="nav__can"><a href="#" class="nav__can-item"><p class="nav__can-name f14w500">Менеджер по&nbsp;туризму</p>
                    <span class="nav__can-capt">95&nbsp;кандидатов</span></a>
                </li>
                <li class="nav__can"><a href="#" class="nav__can-item"><p class="nav__can-name f14w500">Повар</p><span
                        class="nav__can-capt">38&nbsp;кандидатов</span></a>
                </li>
            </ul>
            <ul class="nav__links">
                <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
                <li class="nav__link list-reset"><a href="#" class="nav__link-item link-settings">Настройки</a></li>
            </ul>
        </div>
    </div>
</section>
<!--блок поискового меню-->
<section class="search-bar">
    <div class="search-bar__container">
        <form action="#" class="search-bar__form">
            <input type="text" class="search-bar__form-space" placeholder="Поиск" id="input-box">
            <div class="search-bar__dropdown"></div>
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/notification.svg" alt="Уведомления"
                                                           class="search-bar__note"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/support.svg" alt="Поддержка"
                                                           class="search-bar__support"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/profile.svg" alt="Личный кабинет"
                                                           class="search-bar__acc"></button>
        </div>
    </div>
</section>
<!--основной контент страницы-->
<section class="more container">
    <div class="more__scroll-choose">
    </div>
    <div class="more__content">
        <div class="more__cans-scroll">
            <form action="#" class="more-search__form">
                <input type="text" class="more-search__form-space" placeholder="Поиск">
            </form>
            <ul class="more__items-list" data-simplebar>
                <li class="more__item">
                    <a href="#" class="more__user-link">
                        <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                             class="more__user-link__img">
                        <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                            <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                    class="more__quick-major f14w400">Инженер-технолог</span></div>
                    </a>
                </li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
                <li class="more__item"><a href="#" class="more__user-link">
                    <img src="../img/more-user-img.png" alt="Фотография кандидата Степановой Марии"
                         class="more__user-link__img">
                    <div class="more__quick-desc"><p class="more__quick-title f15f400">Степанова Мария</p>
                        <span class="more__quick-age f14w400">38&nbsp;лет</span><span
                                class="more__quick-major f14w400">Инженер-технолог</span></div>
                </a></li>
            </ul>
        </div>
        <div class="more__cans-info"></div>
    </div>
</section>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>