<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Профиль</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <!--    not load simplebar-->
    <!--    <link-->
    <!--            rel="stylesheet"-->
    <!--            href="https://unpkg.com/simplebar@latest/dist/simplebar.css">-->
    <!--    <link rel="stylesheet" href="../css/libs-css/simplebar.css">-->
    <!--    <link rel="stylesheet" href="../css/libs-css/choices.min.css">-->
    <!--    <link rel="stylesheet" href="../css/libs-css/select.css">-->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container">
        <a href="../index.html" class="nav__logo"><img src="../img/logo.svg" alt="Логотип компании"
                                                       class="nav__logo-icon"></a>
        <ul class="nav__links">
            <li class="nav__links-caption">Рекрутинг</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-desktop">Рабочий стол</a></li>
            <li class="nav__link list-reset"><a href="../partials/vacancies.html"
                                                class="nav__link-item link-vacancies">Вакансии</a>
            </li>
            <li class="nav__link list-reset"><a href="../partials/candidates.html"
                                                class="nav__link-item link-candidates">Кандидаты</a></li>
        </ul>
        <ul class="nav__links">
            <li class="nav__links-caption">Организация</li>
            <!--            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-calendar">Календарь</a></li>-->
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-messages">Сообщения</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-companies">Компании</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-documents">Документы</a></li>
            <li class="nav__link list-reset none-stick"><a href="#" class="nav__link-item link-rates">Тарифные планы</a>
            </li>
        </ul>
        <ul class="nav__links">
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-settings active-page">Настройки</a>
            </li>
        </ul>
    </div>
</section>
<!--блок поискового меню-->
<section class="search-bar">
    <div class="search-bar__container">
        <a href="../index.html" class="search-bar__logo"><img src="../img/media/logo-768.svg" alt="Логотип компании"
                                                              class="nav__logo-icon"></a>
        <form action="#" class="search-bar__form">
            <input type="text" class="search-bar__form-space" placeholder="Поиск" id="input-box">
            <div class="search-bar__dropdown"></div>
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/notification-768.svg">
                    <img src="../img/notification.svg" alt="Уведомления"
                         class="search-bar__note">
                </picture>
            </button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/support-768.svg">
                    <img src="../img/support.svg" alt="Поддержка"
                         class="search-bar__support">
                </picture>
            </button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset">
                <picture>
                    <source type="image/jpeg" media="(max-width: 768px)" srcset="../img/media/profile-768.svg">
                    <img src="../img/profile.svg" alt="Личный кабинет"
                         class="search-bar__acc">
                </picture>
            </button>
        </div>
        <div class="search-bar__burger toogle">
            <div class="toogle_bar">
                <div class="toogle__line"></div>
                <div class="toogle__line"></div>
                <div class="toogle__line"></div>
            </div>
        </div>
    </div>
</section>
<div class="profile container">
    <div class="profile__tabs-wrapper">
        <button class="btn-reset profile__tab profile__tab--active">Профиль</button>
        <button class="btn-reset profile__tab">Уведомления</button>
        <button class="btn-reset profile__tab">Менеджеры</button>
        <button class="btn-reset profile__tab">Лицевой счет</button>
        <button class="btn-reset profile__tab">Интеграции</button>
        <button class="btn-reset profile__tab">Шаблоны писем</button>
    </div>
    <div class="profile__main">
        <div class="profile__main-main main">
            <div class="main__info">
                <p class="main__info-title">Ваш профиль</p>
                <div class="main__info-content">
                    <img src="../img/profile-img.png" alt="Фотография кандидата" class="main__info-img">
                    <div class="main__info-descr">
                        <p class="main__info-name f20w600">Иванов Андрей Иванович</p>
                        <p class="main__info-position f15w400 c-bali">Администратор</p>
                        <div class="main__info-contacts">
                            <div class="main__user-phone">
                                <span class="main__phone-title f15w400">Телефон:</span>
                                <a href="tel:+79509990222" class="main__phone-value c-bali">8-950-999-02-22</a>
                            </div>
                            <div class="main__user-mail">
                                <span class="main__mail-title f15w400">Email:</span>
                                <a href="mailto:pochta@mail.ru" class="main__mail-value c-bali">pochta@mail.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn-reset btn-cancel main__btn-change">Изменить</button>
            </div>
            <div class="main__pass">
                <p class="main__pass-title">Изменение пароля</p>
                <div class="main__pass-content">
                    <p class="main__current-title f15w400">Текущий пароль <span class="add__span-custom">*</span></p>
                    <label for="current-pass" class="main__current-label new__add-name">
                        <input type="password" class="main__current-input new__add-name__input" id="current-pass"
                               placeholder="************" required="">
                        <span class="error">Это поле обязательно для заполнения</span>
                    </label>
                    <div class="main__pass-wrapper">
                        <div class="main__pass-new">
                            <p class="main__new-title f15w400">Новый пароль <span class="add__span-custom">*</span></p>
                            <label for="new-pass" class="main__current-label new__add-name">
                                <input type="password" class="main__new-input new__add-name__input" id="new-pass"
                                       placeholder="************" required="">
                                <span class="error">Это поле обязательно для заполнения</span>
                            </label>
                        </div>
                        <div class="main__pass-repeat">
                            <p class="main__repeat-title f15w400">Новый пароль <span class="add__span-custom">*</span>
                            </p>
                            <label for="repeat-pass" class="main__current-label new__add-name">
                                <input type="password" class="main__current-input new__add-name__input" id="repeat-pass"
                                       placeholder="************" required="">
                                <span class="error">Это поле обязательно для заполнения</span>
                            </label>
                        </div>
                    </div>
                </div>
                <p class="main__pass-descr f15w400 c-bali">Пароль должен состоять минимум из&nbsp;8&nbsp;символов, содержать
                    минимум одну строчную, одну прописную букву и&nbsp;одну цифру</p>
                <button class="btn-reset btn-disable main__btn-save">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!--optimized-->
<!--<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>-->
<!--<script src="../js/libs-js/popper.min.js"></script>-->
<!--optimized-->
<!--<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>-->
<!--<script src="../js/libs-js/tippy-bundle.umd.js"></script>-->
<!--not load simplebar-->
<!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>-->
<!--<script src="../js/libs-js/simplebar.min.js"></script>-->
<!--<script src="../js/libs-js/choices.min.js"></script>-->
<!--<script src="../js/jquery_3.3.1.min.js"></script>-->
<!--<script src="../js/libs-js/select.js"></script>-->
<script src="../js/script.js"></script>
</body>
</html>