<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobers - Вакансии</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/global.css">
    <link
            rel="stylesheet"
            href="https://unpkg.com/simplebar@latest/dist/simplebar.css">
    <link rel="stylesheet" href="../css/libs-css/choices.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body class="body-page">
<!--блок бокового меню-->
<section class="nav">
    <div class="nav__container">
        <a href="../index.html" class="nav__logo"><img src="../img/logo.svg" alt="Логотип компании"
                                                       class="nav__logo-icon"></a>
        <ul class="nav__links">
            <li class="nav__links-caption">Рекрутинг</li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-desktop">Рабочий стол</a></li>
            <li class="nav__link list-reset"><a href="../partials/vacancies.html"
                                                class="nav__link-item link-vacancies active-page">Вакансии</a>
            </li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-candidates">Кандидаты</a></li>
        </ul>
        <ul class="nav__links">
            <li class="nav__links-caption">Организация</li>
            <!--            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-calendar">Календарь</a></li>-->
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-messages">Сообщения</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-companies">Компании</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-documents">Документы</a></li>
            <li class="nav__link list-reset none-stick"><a href="#" class="nav__link-item link-rates">Тарифные планы</a>
            </li>
        </ul>
        <ul class="nav__links">
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-support">Поддержка</a></li>
            <li class="nav__link list-reset"><a href="#" class="nav__link-item link-settings">Настройки</a></li>
        </ul>
    </div>
</section>
<!--блок поискового меню-->
<section class="search-bar">
    <div class="search-bar__container">
        <form action="#" class="search-bar__form">
            <input type="search" class="search-bar__form-space" placeholder="Поиск по кандидатам">
        </form>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/notification.svg" alt="Уведомления"
                                                           alt="Уведомления" class="search-bar__note"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/support.svg" alt="Уведомления"
                                                           alt="Поддержка" class="search-bar__support"></button>
        </div>
        <div class="search-bar__btn-wrap">
            <button class="search-bar__btn btn-reset"><img src="../img/profile.svg" alt="Личный кабинет"
                                                           alt="Личный кабинет" class="search-bar__acc"></button>
        </div>
    </div>
</section>
<!--основной контент страницы-->
<section class="vacancies container">
    <div class="vacancies__container">
        <div class="vacancies__header">
            <div class="vacancies__values">
                <button class="btn-reset vacancies__value vacancies__value--active" data-path="one"
                        aria-label="Активные вакансии">В работе
                </button>
                <button class="btn-reset vacancies__value" data-path="two" aria-label="Вакансии в архиве">Архив</button>
            </div>
            <a href="../partials/add_vacancies.html" class="btn-reset btn add-values">Добавить вакансию</a>
        </div>
        <div class="vacancies__content vacancies__content--active" data-target="one">
            <div class="vacancies__filter-list">
                <label class="vacancies__label">
                    <input type="checkbox" class="vacancies__input vacancies__input-hidden" id="filter-inactive">
                    <span class="vacancies__span">Неопубликованные вакансии</span>
                </label>
            </div>
            <ul class="vacancies__list">
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-value-first">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <button class="btn-reset btn-two item__btn">Заполнить для публикации</button>
                            <nav class="item__burger-nav">
                                <ul class="item__burger-list">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset">Редактировать</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset choose-del">Удалить</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset">Дублировать</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset">Настройка формы</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset">Страница вакансии</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn btn-reset auto-setting">Настройка автоотбора
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger">
                                <div class="item__burger-dot dot-inwork-one"></div>
                                <div class="item__burger-dot dot-inwork-one"></div>
                                <div class="item__burger-dot dot-inwork-one"></div>
                            </div>
                            <div class="item__popup-auto" id="auto-popup-first">
                                <div class="item__popup-wrapper auto">
                                    <div class="auto__container">
                                        <p class="auto__title">Ваши автоотборы</p>
                                        <button class="btn-reset auto__close" id="popup-first-close"></button>
                                        <ul class="auto__list">
                                            <li class="auto__item"><p class="auto__item-name">Только Москва</p>
                                                <div class="auto__change">
                                                    <button class="btn-reset auto__edit"></button>
                                                    <button class="btn-reset auto__delete"></button>
                                                </div>
                                            </li>
                                            <li class="auto__item"><p class="auto__item-name">Гражданство РФ, Москва, до&nbsp;35&nbsp;лет</p>
                                                <div class="auto__change">
                                                    <button class="btn-reset auto__edit"></button>
                                                    <button class="btn-reset auto__delete"></button>
                                                </div>
                                            </li>
                                            <li class="auto__item"><p class="auto__item-name">Зарплата до&nbsp;50&nbsp;тыс</p>
                                                <div class="auto__change">
                                                    <button class="btn-reset auto__edit"></button>
                                                    <button class="btn-reset auto__delete"></button>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn-reset auto__add-changes" id="add-new-auto">Добавить новый
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="item__popup-edit" id="popup-edit-desc">
                                <div class="item__popup-wrapper edit">
                                    <div class="edit__container">
                                        <p class="edit__title">Параметры автоотбора</p>
                                        <button class="btn-reset edit__close"></button>
                                        <div class="edit__data-wrapper">
                                            <div class="edit__data-name"><p class="edit__data-name__title">Название:</p>
                                                <p class="edit__data-name__title">Город:</p>
                                                <p class="edit__data-name__title">Возраст:</p>
                                                <p class="edit__data-name__title">Пол:</p></div>
                                            <div class="edit__data-desc"><p class="edit__data-desc__value">“Только
                                                москва”</p>
                                                <p class="edit__data-desc__value">Москва</p>
                                                <p class="edit__data-desc__value">от 18 до 20 лет</p>
                                                <p class="edit__data-desc__value">Мужской</p></div>
                                        </div>
                                        <button class="btn-reset edit__cancel btn-cancel">Редактировать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item__popup-new" id="popup-auto-create">
                                <div class="item__popup-wrapper custom-scroll new" data-simplebar>
                                    <div class="new__container">
                                        <p class="new__title">Новый автоотбор</p>
                                        <button class="btn-reset new__close"></button>
                                        <p class="new__desc">Автоотбор автоматически перемещает кандидатов, которые
                                            удовлетворяют правилу, на&nbsp;этап Приглашенные по&nbsp;умолчанию</p>
                                        <p class="new__location-title">Локация</p>
                                        <div class="new__select-box">
                                            <select name="cities" class="new__select-wrapper" id="cities">
                                                <option value="">Город</option>
                                                <option value="Санкт-Петербург">Санкт-Петербург</option>
                                                <option value="Москва">Москва</option>
                                                <option value="Казань">Казань</option>
                                            </select>
                                        </div>
                                        <p class="new__search-clone">Поиск дублей</p>
                                        <label for="search-duplicates" class="new__search-label">
                                            <input type="checkbox" class="new__search-input new__search-input__hidden"
                                                   id="search-duplicates">
                                            <span class="new__search-span">Включить</span>
                                        </label>
                                        <label for="day-amount" class="new__clone-quest">Сколько дней считать новых
                                            кандидатов дублями?
                                        </label>
                                        <input type="text" class="new__clone-answ" placeholder="-" id="day-amount">
                                        <p class="new__clone-desc">Если установлено значение в&nbsp;10&nbsp;дней и&nbsp;первый
                                            кандидат получен 1&nbsp;числа, то&nbsp;все кандидаты с&nbsp;такими&nbsp;же
                                            контактами, которые откликнутся с&nbsp;1&nbsp;по&nbsp;10&nbsp;число
                                            включительно, будут автоматически считаться дублями</p>
                                        <div class="new__options">
                                            <p class="new__options-title">Параметры кандидата</p>
                                            <div class="new__options-group">
                                                <select name="choose-gender" id="gender" class="new__option-gender">
                                                    <option value="">Пол</option>
                                                    <option value="Мужской">Мужской</option>
                                                    <option value="Женский">Женский</option>
                                                </select>
                                                <select name="choose-age" id="age" class="new__option-age">
                                                    <option value="">Возраст</option>
                                                    <option value="от">от</option>
                                                    <option value="до">до</option>
                                                    <option value="Скрыть без возраста">Скрыть без возраста</option>
                                                </select>
                                                <select name="choose-wage" id="wage" class="new__option-wage">
                                                    <option value="">Заработная плата</option>
                                                    <option value="от">от</option>
                                                    <option value="до">до</option>
                                                    <option value="Скрыть без зарплаты">Скрыть без зарплаты</option>
                                                </select>
                                                <select name="choose-skill" id="skill" class="new__option-skill">
                                                    <option value="">Опыт работы</option>
                                                    <option value="Без опыта">Без опыта</option>
                                                    <option value="От 1 года">От 1 года</option>
                                                    <option value="От 3 лет">От 3 лет</option>
                                                </select>
                                                <select name="choose-citizenship" id="nation"
                                                        class="new__option-nation">
                                                    <option value="">Гражданство</option>
                                                    <option value="Не имеет значения">Не имеет значения</option>
                                                    <option value="Россия">Россия</option>
                                                    <option value="Страны СНГ">Страны СНГ</option>
                                                    <option value="Остальные страны">Остальные страны</option>
                                                </select>
                                                <select name="choose-contacts" id="contacts"
                                                        class="new__option-contacts">
                                                    <option value="">Контакты</option>
                                                    <option value="Указан номер телефона">Указан номер телефона</option>
                                                </select>
                                            </div>
                                            <div class="new__global">
                                                <p class="new__global-title">Применение правила</p>
                                                <div class="new__options-wrapper">
                                                    <label for="current-vacancy" class="new__current-label">
                                                        <input type="radio"
                                                               class="new__option-item new__option-item__hidden"
                                                               id="current-vacancy" name="global">
                                                        <span class="new__option-dot">К&nbsp;текущей
                                                        вакансии</span>
                                                    </label>
                                                    <label for="specific-vacancy" class="new__current-label">
                                                        <input type="radio"
                                                               class="new__option-item new__option-item__hidden"
                                                               id="specific-vacancy" name="global">
                                                        <span class="new__option-dot">К&nbsp;определенной
                                                        вакансии</span>
                                                    </label>
                                                    <label for="all-vacancies" class="new__current-label">
                                                        <input type="radio"
                                                               class="new__option-item new__option-item__hidden"
                                                               id="all-vacancies" name="global">
                                                        <span class="new__option-dot">Ко&nbsp;всем
                                                        вакансиям</span>
                                                    </label>
                                                    <div class="new__options-specific specific specific--hidden" id="specific-vacancy-wrapper">
                                                        <div class="specific__wrapper">
                                                            <select name="choose-options-specific" id="specific-vacancy-options"
                                                                    class="specific__select">
                                                                <option value="">Вакансии</option>
                                                                <option value="Менеджер по продажам (id 000000)">Менеджер по продажам (id 000000)</option>
                                                                <option value="Менеджер по продажам (id 000000)">Менеджер по продажам (id 000000)</option>
                                                                <option value="Менеджер по продажам (id 000000)">Менеджер по продажам (id 000000)</option>
                                                                <option value="Менеджер по продажам (id 000000)">Менеджер по продажам (id 000000)</option>
                                                                <option value="Менеджер">Менеджер</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="new__transfer-title">Перенос на этап</p>
                                            <div class="new__change-choice__wrapper">
                                                <select name="choose-level" id="choose-level"
                                                        class="new__transfer-items">
                                                    <option value="">Перенос на этап</option>
                                                    <option value="Приглашенные">Приглашенные</option>
                                                </select>
                                            </div>
                                            <p class="new__auto-title">Название автоотбора</p>
                                            <label for="main-name" class="new__add-name">
                                                <input type="text" class="new__add-name__input" id="main-name"
                                                       placeholder="Введите название автоотбора">
                                                <span class="error" id="error"></span>
                                            </label>
                                        </div>
                                        <div class="new__btns">
                                            <button class="btn-reset btn new__btn-save">Сохранить</button>
                                            <button class="btn-reset new__btn-cancel">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__popup-del" id="popup-del-quest">
                                <div class="item__popup-wrapper quest">
                                    <div class="quest__container">
                                        <p class="quest__title">Удаление автоотбора</p>
                                        <button class="btn-reset quest__btn-close"></button>
                                        <p class="quest__desc">Вы действительно хотите удалить автоотбор <span
                                                class="quest__desc-span">Только Москва</span> ?</p>
                                        <div class="quest__btn-wrap">
                                            <button class="quest__btn-cancel btn-reset btn-cancel">Отмена</button>
                                            <button class="quest__btn-del btn-reset btn">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__status">
                            <div class="item__name-data">Статус вакансии</div>
                            <div class="item__right-data">Не заполнена</div>
                        </div>
                        <div class="item__created">
                            <div class="item__name-data">Дата создания</div>
                            <div class="item__right-data">Вчера в 10:02</div>
                        </div>
                        <div class="item__save">
                            <div class="item__name-data">Сохранена</div>
                            <div class="item__right-data">Сегодня в 19:13</div>
                        </div>
                    </div>
                    <div class="vacancies__item-popup" id="choose-del-modal">
                        <div class="vacancies__item-popup__wrapper delete">
                            <div class="delete__container">
                                <button class="btn-reset delete__btn" id="choose-del-btn"></button>
                                <div class="delete__title">Удаление вакансии</div>
                                <div class="delete__attent">Вы&nbsp;действительно хотите удалить вакансию Водитель
                                    категории&nbsp;C?
                                </div>
                                <div class="delete__choose">
                                    <button class="btn-reset delete__yes" id="modal-yes-window">Удалить</button>
                                    <button class="btn-reset delete__no" id="modal-close-window">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-value-second">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <button class="btn-reset btn-two item__btn">Посмотреть перед публикацией</button>
                            <nav class="item__burger-nav item__nav-two">
                                <ul class="item__burger-list list-two">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset">Редактировать</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset choose-del">Удалить
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset">Дублировать</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset">Настройка формы
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset">Страница вакансии
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-two btn-reset auto-setting">Настройка
                                            автоотбора
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger item-two">
                                <div class="item__burger-dot dot-inwork-two"></div>
                                <div class="item__burger-dot dot-inwork-two"></div>
                                <div class="item__burger-dot dot-inwork-two"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__status">
                            <div class="item__name-data">Статус вакансии</div>
                            <div class="item__right-data">Готова к публикации</div>
                        </div>
                        <div class="item__created">
                            <div class="item__name-data">Дата создания</div>
                            <div class="item__right-data">Вчера в 10:02</div>
                        </div>
                        <div class="item__save">
                            <div class="item__name-data">Сохранена</div>
                            <div class="item__right-data">Сегодня в 19:13</div>
                        </div>
                        <div class="item__rate">
                            <div class="item__name-data">Тарифный план</div>
                            <div class="item__right-data">Минимальный с автообновлением</div>
                        </div>
                    </div>
                </li>
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-value-third">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <nav class="item__burger-nav item__nav-third">
                                <ul class="item__burger-list list-third">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset">Редактировать
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset choose-del">Удалить
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset">Дублировать</button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset">Настройка формы
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset">Страница вакансии
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__btn-third btn-reset auto-setting">
                                            Настройка автоотбора
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger item-third">
                                <div class="item__burger-dot dot-inwork-three"></div>
                                <div class="item__burger-dot dot-inwork-three"></div>
                                <div class="item__burger-dot dot-inwork-three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__status">
                            <div class="item__name-data">Статус вакансии</div>
                            <div class="item__right-data">На модерации</div>
                        </div>
                        <div class="item__created">
                            <div class="item__name-data">Дата создания</div>
                            <div class="item__right-data">Вчера в 10:02</div>
                        </div>
                        <div class="item__save">
                            <div class="item__name-data">Сохранена</div>
                            <div class="item__right-data">Сегодня в 19:13</div>
                        </div>
                        <div class="item__rate">
                            <div class="item__name-data">Тарифный план</div>
                            <div class="item__right-data">Минимальный с автообновлением</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="vacancies__filter-list">
                <label class="vacancies__label">
                    <input type="checkbox" class="vacancies__input vacancies__input-hidden" id="filter-active">
                    <span class="vacancies__span">Активные вакансии</span>
                </label>
            </div>
            <ul class="vacancies__list">
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-value-fourth">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <nav class="item__burger-nav item__nav__active-one">
                                <ul class="item__burger-list item__list__active-one">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Разместить
                                            повторно
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Отчет о
                                            размещении
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Подборка
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Отклики
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Сайты
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-one btn-reset">Настройка
                                            формы
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger item__active-one">
                                <div class="item__burger-dot dot-active-one"></div>
                                <div class="item__burger-dot dot-active-one"></div>
                                <div class="item__burger-dot dot-active-one"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__responses">
                            <div class="item__name-data">Отклики</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">112</a><span
                                    class="item__new-data">+22</span></div>
                        </div>
                        <div class="item__choice">
                            <div class="item__name-data">Подборка</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">22</a><span
                                    class="item__new-data">+2</span></div>
                        </div>
                        <div class="item__views">
                            <div class="item__name-data">Просмотры</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">2 223</a><span
                                    class="item__new-data">+217</span></div>
                        </div>
                        <div class="item__sites">
                            <div class="item__name-data">Сайты</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">64</a><span
                                    class="item__new-data"></span></div>
                        </div>
                        <div class="item__ended">
                            <div class="item__name-data">Осталось</div>
                            <div class="item__right-data">
                                10 дней
                            </div>
                        </div>
                        <div class="item__rate">
                            <div class="item__name-data">Тарифный план</div>
                            <div class="item__right-data">Минимальный с автообновлением</div>
                        </div>
                    </div>
                </li>
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-value-fifth">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <button class="btn-reset btn-two item__btn">Продлить срок вакансии</button>
                            <nav class="item__burger-nav item__nav__archive-one">
                                <ul class="item__burger-list item__list__active-two">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Разместить
                                            повторно
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Отчет о
                                            размещении
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Подборка
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Отклики
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Сайты
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__active__btn-two btn-reset">Настройка
                                            формы
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger item__active-two">
                                <div class="item__burger-dot dot-active-two"></div>
                                <div class="item__burger-dot dot-active-two"></div>
                                <div class="item__burger-dot dot-active-two"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__responses">
                            <div class="item__name-data">Отклики</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">112</a><span
                                    class="item__new-data">+22</span></div>
                        </div>
                        <div class="item__choice">
                            <div class="item__name-data">Подборка</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">22</a><span
                                    class="item__new-data">+2</span></div>
                        </div>
                        <div class="item__views">
                            <div class="item__name-data">Просмотры</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">2 223</a><span
                                    class="item__new-data">+217</span></div>
                        </div>
                        <div class="item__sites">
                            <div class="item__name-data">Сайты</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">64</a><span
                                    class="item__new-data"></span></div>
                        </div>
                        <div class="item__ended">
                            <div class="item__name-data">Осталось</div>
                            <div class="item__right-data item__data-collapse">1 день</div>
                        </div>
                        <div class="item__rate">
                            <div class="item__name-data">Тарифный план</div>
                            <div class="item__right-data">Минимальный с автообновлением</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="vacancies__filter" id="popupFilterActive">
                <div class="vacancies__filter-wrapper">
                    <span class="vacancies__filter-check"></span>
                    <p class="vacancies__filter-sum"><span class="vacancies__filter-span">10</span> вакансий
                    </p>
                    <div class="vacancies__select-box">
                        <select name="select" id="some" class="vacancies__select-wrapper">
                            <option value="">Выберите действие</option>
                            <option value="Удалить">Удалить</option>
                            <option value="Переместить в архив">Переместить в архив</option>
                        </select>
                    </div>
                </div>
                <div class="vacancies__filter-popup" id="choose-del-modal-filter">
                    <div class="vacancies__filter-popup__wrapper delete">
                        <div class="delete__container">
                            <div class="delete__title">Удаление вакансий</div>
                            <button class="btn-reset delete__btn"></button>
                            <div class="delete__attent">Выделенные вакансии <span class="delete__amount">(10)</span>
                                будут удалены. Вы&nbsp;действительно
                                хотите это сделать?
                            </div>
                            <div class="delete__choose">
                                <button class="btn-reset delete__yes">Удалить</button>
                                <button class="btn-reset delete__no">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vacancies__content" data-target="two">
            <div class="vacancies__filter-list">
                <label class="vacancies__label">
                    <input type="checkbox" class="vacancies__input vacancies__input-hidden" id="archive-filter">
                    <span class="vacancies__span">Архивные вакансии</span>
                </label>
            </div>
            <ul class="vacancies__list">
                <li class="vacancies__list-item list-reset item">
                    <div class="item__top">
                        <div class="item__top-left">
                            <label class="item__name">
                                <input type="checkbox" class="item__name-input item__name-hidden"
                                       id="vacancies-archive-first">
                                <span class="item__check-icon"></span>
                            </label>
                            <a href="#" class="item__vacancies-name">
                                Водитель категории C
                            </a>
                            <p class="item__descr"><span class="item__price">от 35 000 до 45 000</span>
                                <br>
                                <span
                                        class="item__geo">Москва, Новокаширское шоссе, д 13</span></p>
                        </div>
                        <div class="item__right">
                            <button class="btn-reset btn-two item__btn">Опубликовать повторно</button>
                            <nav class="item__burger-nav item__nav__archive-one">
                                <ul class="item__burger-list item__list__archive-one">
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Разместить
                                            повторно
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Отчет о
                                            размещении
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Подборка
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Отклики
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Сайты
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-one btn-reset">Настройка
                                            формы
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-two btn-reset">Страница
                                            вакансии
                                        </button>
                                    </li>
                                    <li class="item__burger-item">
                                        <button class="item__burger-btn item__archive__btn-two btn-reset">Настройка
                                            автоотбора
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="item__burger item__archive-one">
                                <div class="item__burger-dot dot-archive-one"></div>
                                <div class="item__burger-dot dot-archive-one"></div>
                                <div class="item__burger-dot dot-archive-one"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item__bottom">
                        <div class="item__responses">
                            <div class="item__name-data">Отклики</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">112</a><span
                                    class="item__new-data">+22</span></div>
                        </div>
                        <div class="item__choice">
                            <div class="item__name-data">Подборка</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">22</a><span
                                    class="item__new-data">+2</span></div>
                        </div>
                        <div class="item__views">
                            <div class="item__name-data">Просмотры</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">2 223</a><span
                                    class="item__new-data">+217</span></div>
                        </div>
                        <div class="item__sites">
                            <div class="item__name-data">Сайты</div>
                            <div class="item__right-data"><a href="#" class="item__temp-data">64</a><span
                                    class="item__new-data"></span></div>
                        </div>
                        <div class="item__ended">
                            <div class="item__name-data">Дата архивации</div>
                            <div class="item__right-data">
                                <time datetime="2023-12-12T15:16">12.12.2023 в 15:16</time>
                            </div>
                        </div>
                        <div class="item__rate">
                            <div class="item__name-data">Тарифный план</div>
                            <div class="item__right-data">Минимальный с автообновлением</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="vacancies__filter" id="popupFilterArchive">
                <div class="vacancies__filter-wrapper">
                    <span class="vacancies__filter-check"></span>
                    <p class="vacancies__filter-sum"><span class="vacancies__filter-span">10</span> вакансий
                    </p>
                    <div class="vacancies__select-box">
                        <select name="select" class="vacancies__select-wrapper">
                            <option value="">Выберите действие</option>
                            <option value="Удалить">Удалить</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<script src="../js/jquery-3.7.1.min.js"></script>-->
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="../js/libs-js/choices.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>