@media (max-width: 768px) {
/*    default   */
    .add__content-progress,
    .add__option-upload,
    .auto__close {
        display: none;
    }

    .add__sites,
    .add__contacts,
    .add__content-container,
    .add__info {
        width: 100%;
    }

    .add__content-container {
        margin-right: 0;
    }

/*    move import*/
    #popup-import {
        visibility: visible;
        opacity: 1;
        position: inherit;
        height: auto;
        background-color: transparent;
        margin-bottom: 18px;
    }

/*    add header*/
    .add__title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .main__post.error--visible {
        margin-bottom: 46px;
    }

    .import__label.error--visible {
        margin-bottom: 35px;
    }

    .add__option-ai::before {
        top: 1px;
    }

    .import {
        transform: scale(1);
        max-width: 100%;
        min-height: auto;
    }

    .import__title-item {
        font-size: 16px;
        font-weight: 500;
        margin-right: 12px;
    }

    .add__header {
        margin-bottom: 19px;
    }

    .import__container {
        padding: 12px;
    }

    .import__descr {
        font-size: 14px;
        margin-bottom: 17px;
    }

    .import__form {
        flex-direction: column;
    }

    .import__label {
        width: auto;
        margin-bottom: 7px;
    }

/*    add content*/
    .add__content-container {
        border-radius: 5px;
        padding: 13px;
    }

    .main__title {
        padding-bottom: 19px;
        margin-bottom: 15px;
    }

    .main__span-custom {
        margin-bottom: 7px;
    }

    .main__post-form {
        margin-bottom: 16px;
    }

    .main__skill-title {
        margin-bottom: -1px;
    }

    .main__skill-choose {
        margin-bottom: 16px;
    }

    .main__descr-chr {
        display: none;
    }

    .main__descr-note {
        display: block;
    }

    .main__descr-cap {
        text-transform: capitalize;
    }

    .main__descr-content {
        margin-bottom: 7px;
    }

    .add__content {
        margin-bottom: 17px;
    }

/*    add info*/
    .add__info {
        padding: 13px;
        padding-top: 12px;
        padding-bottom: 10px;
        border-radius: 5px;
        margin-bottom: 17px;
    }

    .add__info-title {
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

    .add__options-title {
        margin-bottom: 7px;
    }

    .add__options {
        flex-direction: column;
        margin-bottom: 17px;
    }

    .add__options-type {
        width: 100%;
        margin-bottom: 16px;
    }

    .droplist__icon {
        right: 17px;
    }

    .add__options-schedule {
        width: 100%;
    }

    .add__wage-title {
        margin-bottom: 6px;
    }

    .add__wage-values {
        flex-direction: column;
    }

    .add__wage-label__min {
        width: 100%;
        margin-bottom: 7px;
    }

    .add__wage-label__max {
        width: 100%;
    }

    .add__wage {
        margin-bottom: 18px;
    }

    .add__dues-label {
        margin-bottom: 17px;
    }

    .add__options-trial {
        width: 100%;
        margin-bottom: 16px;
    }

    .add__options-edu {
        width: 100%;
    }

    .input-space {
        padding: 10.8px 41px;
    }

    .add__keys {
        margin-bottom: 8px;
    }

    .create-tag {
        margin-bottom: 17px;
    }

    .add__accordion-control {
        padding: 10.82px 0;
    }

    .add__accordion-head {
        margin-bottom: 7px;
    }

    .add__icon-tab {
        transform: translate(-2px, 2px);
    }

/*    add contacts*/
    .add__contacts {
        padding: 13px;
        border-radius: 5px;
        margin-bottom: 17px;
    }

    .add__contacts-title {
        padding-bottom: 19px;
        margin-bottom: 16px;
    }

    .search-box__input,
    .add__contacts-district__data,
    .add__extra-street__data,
    .add__extra-house__data {
        padding: 11.96px 15px;
    }

    .add__contacts-geo {
        margin-bottom: 8px;
    }

    .search-box {
        margin-bottom: 17px;
    }

    .add__contacts-district {
        margin-bottom: 8px;
    }

    .add__contacts-district__data {
        margin-bottom: 16px;
    }

    .add__contacts-city {
        margin-bottom: 7px;
    }

    .add__contacts-city__data {
        margin-bottom: 16px;
    }

    #suggestions-pane {
        margin-top: 11px;
    }

    .suggestion:not(:last-of-type) {
        margin-bottom: 11px;
    }

    .add__contacts-label.error--visible {
        margin-bottom: 45px;
    }

    .add__extra-wage.error--visible {
        margin-bottom: 29px;
    }

    .add__name-company.error--visible {
        margin-bottom: 45px;
    }

    .add__id-code__data {
        padding-right: 115px;
    }

    .add__extra-street {
        margin-bottom: 15px;
    }

    .add__extra {
        flex-direction: column;
    }

    .add__extra-first {
        width: 100%;
    }

    .add__extra-street__data {
        margin-bottom: 17px;
    }

    .add__extra-house {
        margin-bottom: 8px;
    }

    .add__extra-house__data {
        margin-bottom: 17px;
    }

    .add__extra-second {
        width: 100%;
    }

    .map {
        margin-bottom: 17px;
    }

    .add__station {
        margin-bottom: 7px;
    }

    .add__station-values {
        margin-bottom: 16px;
    }

    .add__call {
        margin-bottom: 7px;
    }

    .add__call__data {
        margin-bottom: 7px;
    }

    .add__more-number {
        margin-bottom: 20px;
    }

    .add__number-filter {
        margin-bottom: 19px;
    }

    .add__filter-descr__content {
        padding-top: 12px;
        padding-left: 47px;
        padding-bottom: 12px;
        background-position: 12px 12px;
        margin-bottom: 16px;
    }

    .add__name-company {
        margin-bottom: 7px;
    }

    .add__name-company__data {
        margin-bottom: 16px;
    }

    .add__extra-third {
        flex-direction: column;
    }

    .add__extra-name {
        width: 100%;
    }

    .add__extra-name__title {
        margin-bottom: 7px;
    }

    .add__extra-name__data {
        margin-bottom: 17px;
    }

    .add__extra-email__label {
        margin-bottom: 7px;
    }

    .add__extra-email {
        width: 100%;
    }

    .add__extra-email__data {
        margin-bottom: 17px;
    }

    .add__logo-title {
        margin-bottom: 8px;
    }

    .add__upload-descr {
        padding-top: 12px;
        width: calc(100% - 157px);
        line-height: 121%;
    }

    .add__logo-container {
        margin-bottom: 17px;
    }

    .add__id-code {
        margin-bottom: 8px;
    }

/*    add sites*/
    .add__sites {
        border-radius: 5px;
        padding: 13px;
        padding-top: 12px;
        margin-bottom: 17px;
    }

    .add__sites-title {
        padding-bottom: 20px;
        margin-bottom: 16px;
    }

    .add__sites-values {
        flex-direction: column;
    }

    .add__sites-value {
        margin-bottom: 17px;
    }

    .add__sites-value--active {
        background-color: var(--color_dodger);
    }

    .add__sites-value:first-of-type {
        border-radius: 10px;
        margin-bottom: 7px;
    }

    .add__sites-value:last-of-type {
        border-radius: 10px;
    }

    .add__sites-header {
        margin-bottom: 50px;
    }

    .rates__list-title,
    .invoice__item-label {
        padding: 12px 12px 12px 42px;
    }

    .rates__list-dot::before, .invoice__list-dot::before {
        top: 12px;
        left: 12px;
    }

    .rates__list-dot::after, .invoice__list-dot::after {
        top: 12px;
        left: 12px;
    }

    .rates__descr {
        padding-top: 12px;
        margin-bottom: 17px;
    }

    .rates__list-item:not(:last-of-type), .invoice__item:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .rates__list-item:last-of-type {
        margin-bottom: 16px;
    }

    .add__btn-archive {
        padding: 9.5px 20px;
        width: 100%;
    }

    .add__btn-send {
        width: 100%;
        margin-right: 0;
        margin-bottom: 7px;
    }

/*    popup skill choose sets*/
    .pop-up__container {
        padding: 0;
    }

    .pop-up__body {
        padding: 13px;
        height: 100vh;
        border-radius: 0;
        width: 100%;
    }

    .pop-up_close {
        display: none;
    }

    .pop-up__title {
        margin-bottom: 17px;
    }

    .button-block {
        margin-top: 39px;
        gap: 15px;
    }

    .add__wage-label__min.error--visible, .add__wage-label__max.error--visible {
        margin-bottom: 37px;
    }

    .add__wage-label__max.error--visible {
        margin-bottom: 28px;
    }

    .tag-options-header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tag-options {
        gap: 11px;
    }

    .add__keys {
        margin-bottom: 9px;
    }

    .add__features-span {
        display: block;
    }

    .add__content-features {
        padding-top: 28px;
        grid-row-gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .add__features-item:not(:last-of-type) {
        margin-bottom: 0;
    }

    .add__content-car {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }

    .add__content-car__title {
        grid-column: 1 / -1;
        margin-bottom: 7px;
    }

    .add__wishes-span {
        display: block;
    }

    .ai {
        height: 100vh;
        max-width: 100%;
    }

    .ai__container {
        padding: 13px;
    }

    .ai__descr {
        line-height: 18px;
        margin-bottom: 17px;
    }

    .ai__container .main__span-custom {
        margin-bottom: 7px;
    }

    .ai__container .main__post-form {
        margin-bottom: 12px;
    }

    .ai__btns-wrapper {
        position: relative;
    }

    .ai__amount {
        position: absolute;
        top: -34px;
    }

    .ai__container .add__contacts-city__data {
        margin-bottom: 47px;
    }

    .ai__btn-no {
        margin-left: 0;
    }

    .ai__container .main__post.error--visible {
        margin-bottom: 41px;
    }

    .ai__container .add__contacts-label.error--visible {
        margin-bottom: 76px;
    }
}