@media (max-width: 768px) {
    /*searchbar*/
    .search-bar__container {
        background-color: var(--color_space);
        padding: 0 13px;
    }

    .search-bar__form {
        display: none;
    }

    .search-bar__btn-wrap {
        border-left: none;
    }

    .search-bar__btn-wrap:nth-child(4) {
        border-right: none;
    }

    .nav__logo-icon {
        width: 110.35px;
        transform: translate(0, 0);
    }

    .search-bar__logo {
        margin-right: auto;
    }

    .search-bar__btn {
        background-color: transparent;
    }

    /*search-bar burger-menu*/
    .search-bar__burger {
        flex-shrink: 0;
        padding: 18px 8.5px;
        cursor: pointer;
        transition: opacity .3s ease;
    }

    .toogle_bar {
        top: 3px;
        left: 0;
        position: relative;
        display: inline-block;
        width: 23px;
        height: 23px;
    }

    .toogle__line {
        position: absolute;
        width: 100%;
        height: 1.8px;
        background-color: var(--color_white);
    }

    .toogle__line:nth-child(2) {
        top: 10px;
    }

    .toogle__line:last-child {
        top: 20px;
    }

    /*    sidebar*/
    .nav__logo {
        display: none;
    }

    .nav__container {
        max-width: 100%;
        width: 100%;
        transform: translateY(62.22px);
        background-color: var(--color_white);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .nav__container--active {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .search-bar__burger--active {
        opacity: .4;
    }

    .nav__links-caption {
        color: var(--color_semi-space);
    }

    .nav__link-item {
        color: var(--color_space);
        opacity: 1;
        font-size: 16px;
        font-weight: 500;
    }

    .nav__links {
        max-width: 240px;
    }

    .link-desktop::before {
        content: url("../../img/media/icon-desktop-768.svg");
    }

    .link-vacancies::before {
        content: url("../../img/media/icon-vacancies-768.svg");
    }

    .link-candidates::before {
        content: url("../../img/media/icon-candidates-768.svg");
    }

    .link-messages::before {
        content: url("../../img/media/icon-messages-768.svg");
    }

    .link-companies::before {
        content: url("../../img/media/icon-companies-768.svg");
    }

    .link-documents::before {
        content: url("../../img/media/icon-documents-768.svg");
    }

    .link-rates::before {
        content: url("../../img/media/icon-rates-768.svg");
    }

    .link-support::before {
        content: url("../../img/media/icon-support-768.svg");
    }

    .link-settings::before {
        content: url("../../img/media/icon-settings-768.svg");
    }

    /*main-content*/
    .container {
        padding: 77px 13px 0 13px;
    }

    .vacancies__header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 17px;
    }

    .add-values {
        width: 100%;
        text-align: center;
    }

    .add-values::before {
        left: calc((100% / 2) - 80px);
    }

    .vacancies__values {
        margin-bottom: 17px;
    }

    .vacancies__span {
        padding-left: 35px;
        font-size: 15px;
        font-weight: 600;
    }

    .vacancies__filter-list {
        margin-bottom: 7px;
    }

    .item__top {
        flex-direction: column-reverse;
    }

    .search-bar {
        z-index: 2;
    }

    .item__check-icon::before {
        top: -45px;
        z-index: 1;
    }

    .item__check-icon::after {
        top: -45px;
        z-index: 1;
    }

    .item__right {
        align-items: end;
        flex-direction: column;
    }

    .item__btn {
        display: none;
    }

    .item__bottom {
        flex-direction: column;
    }

    .item__top-left {
        overflow: visible;
    }

    .item__vacancies-name {
        padding-left: 0;
        font-size: 15px;
        font-weight: 600;
    }

    .item__descr {
        padding-left: 0;
    }

    .item__btn-768 {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 13px;
    }

    .item__burger-nav {
        position: fixed;
        width: 100vw;
        background-color: var(--color_space);
        border-radius: 25px 25px 0 0;
        left: 0;
        z-index: 3;
        top: 58%;
        transform: translateY(100%);
        transition: transform .3s ease;
    }

    .item__burger-list {
        width: calc(100% - 25px);
        margin: 0 auto;
        transform: translate(0%, 6px);
        background-color: var(--color_space);
    }

    .item__burger-item {
        background-color: var(--color_semi-black);
    }

    .item__burger-item:not(:last-of-type) {
        border-bottom: 1px solid var(--color_space);
    }

    .item__burger-btn {
        color: var(--color_white);
    }

    .item__burger-nav--active {
        transform: translateY(0%);
    }

    .item__title-768 {
        color: var(--color_white);
        padding: 25px 13px;
    }

    .item__btn-close {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 25px;
        height: 25px;
        background-image: url("../../img/x-25.svg");
        background-repeat: no-repeat;
    }

    .vacancies__filter {
        z-index: 1;
        width: 100%;
    }

    .vacancies__filter--active {
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }

    .vacancies__select-box {
        display: none;
    }

    .vacancies__btn-768 {
        color: var(--color_dodger);
    }

    .vacancies__popup-768 {
        position: fixed;
        bottom: -30%;
        background-color: var(--color_space);
        width: 100%;
        z-index: 3;
        border-radius: 25px 25px 0 0;
        transition: bottom .3s ease;
    }

    .vacancies__popup-768--active {
        bottom: 0;
    }

    .vacancies__popup-title {
        color: var(--color_white);
        padding: 25px 13px;
    }

    .vacancies__btn-item {
        color: var(--color_white);
        padding: 11px 15px;
    }

    .vacancies__popup-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 25px;
        top: 25px;
        background-image: url("../../img/x-25.svg");
    }

    .vacancies__popup-list {
        width: calc(100% - 26px);
        margin: 0 auto;
        background-color: var(--color_space);
        padding-bottom: 13px;
    }

    .vacancies__popup-item {
        background-color: var(--color_semi-black);
    }

    .vacancies__popup-item:not(:last-of-type) {
        border-bottom: 1px solid var(--color_space);
    }

    .vacancies__popup-item:first-of-type {
        border-radius: 5px 5px 0 0;
    }

    .vacancies__popup-item:last-of-type {
        border-radius: 0 0 5px 5px;
    }

    .scroll-toggle {
        overflow: hidden;
    }

    .vacancies__droplist-back,
    .vacancies__options-back,
    .vacancies__archive-back {
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 2;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(42, 49, 55, .75);
        opacity: 0;
        transition: visibility .3s ease, opacity .3s ease;
    }

    .vacancies__droplist-back--active,
    .vacancies__options-back--active,
    .vacancies__archive-back--active {
        visibility: visible;
        opacity: 1;
    }

    .item__nav__archive-one {
        height: 100%;
        top: 49%;
    }
}