/* temp */
.chat__old-content {
  display: none;
}

/* end temp */
.chat__input {
  display: none;
}

.chat__loader-svg {
  background-image: url("../../img/chat-loader.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat__load-chats,
.chat__load-staff {
  display: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--color_bali);
  margin-bottom: 25px;
}

.chat__load {
  display: none;
  background-color: var(--color_zircon);
  position: fixed;
  width: 500px;
  left: 0px;
  top: 72.69px;
  height: calc(100% - 72.69px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat__timeline {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 7.5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: end;
}

.chat__message.outgoing {
  margin-top: 10px;
}

.chat__timeline-wrapper.loading .chat__load {
  display: flex;
}

.chat__timeline-wrapper.loading.chats .chat__load .chat__load-chats {
  display: block;
}

.chat__timeline-wrapper.loading.staff .chat__load .chat__load-staff {
  display: block;
}

.chat__begin {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chat__timeline-wrapper.begin .chat__begin {
  display: flex;
}

.chat__timeline-wrapper.selected .chat__begin {
  display: flex;
  align-items: end;
}

.chat__begin-title,
.chat__begin-theme {
  padding: 15px;
  background-color: var(--color_white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 15px 0;
}

.chat__begin-title {
  margin-bottom: 10px;
}

.chat__begin-wrapper {
  width: 100%;
}

.chat__descr-item {
  margin-bottom: 15px;
}

.chat__begin .droplist__select_transfer {
  margin-bottom: 0;
}

.chat__timeline-wrapper.selected {
  padding-bottom: 10px;
}

.chat__timeline-wrapper.selected .chat__begin.default {
  align-items: end;
}

.chat__timeline-wrapper.selected + .chat__input {
  display: block;
}

.chat__date {
  padding: 5px 10px;
  background-color: var(--color_white);
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

.chat__timeline-wrapper.active + .chat__input {
  display: block;
}

.chat__active {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10px;
}

.chat__timeline-wrapper.active .chat__active {
  display: flex;
}

.chat__active-message.outgoing {
  background-color: var(--color_succes);
  border-radius: 15px 15px 0 15px;
  padding: 15px 70px 5px 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.chat__message-user {
  margin-bottom: 10px;
}

.chat__theme-title {
  margin-bottom: 5px;
}

.chat__theme-wrapper {
  margin-bottom: 10px;
}

.chat__time-value {
  font-size: 12px;
  font-weight: 400;
  color: var(--color_bali);
}

.chat__content-wrapper {
  margin-bottom: 10px;
}

.chat__active-message.incoming {
  background-color: var(--color_white);
  border-radius: 15px 15px 15px 0;
  padding: 15px 15px 5px 15px;
}

.chat__active > .chat__active-message:not(:last-child) {
  margin-bottom: 10px;
}

.chat__new-wrapper {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color_white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
}

.chat__new {
  color: var(--color_dodger);
  font-size: 15px;
  font-weight: 400;
  padding: 16px 16px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color_zircon);
}

.chat__timeline-wrapper.end .chat__timeline {
  padding-bottom: 80px;
}

.chat__timeline-wrapper.end .chat__timeline .chat__active {
  display: flex;
}

.chat__timeline-wrapper.end + .chat__input + .chat__new-wrapper {
  display: flex;
}

.chat__end {
  display: none;
  background-color: var(--color_athens-gray);
  border-radius: 15px 15px 15px 0;
  padding: 15px 15px 5px 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.chat__timeline-wrapper.end .chat__timeline .chat__end {
  display: flex;
}

.chat__timeline-wrapper.new {
  padding-bottom: 0;
}

.chat__begin-theme .droplist__select_transfer {
  margin-bottom: 0;
}

.chat__new-choose {
  display: none;
}

.chat__timeline-wrapper.new .chat__active {
  display: flex;
}

.chat__timeline-wrapper.new .chat__end {
  display: flex;
}

.chat__timeline-wrapper.new .chat__new-choose {
  display: block;
}

.chat__timeline-wrapper.new .chat__new-choose .droplist__items {
  bottom: 50px;
}
